<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language}",
      "${user_timezone}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

<!-- TMA GLOBAL STYLE -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
<link rel="stylesheet" href="${static.url('tma-static/css/courses-tma-custom.css')}">
<link rel="stylesheet" href="${static.url('tma-static/css/global-tma-custom.css')}">
<link rel="stylesheet" href="${static.url('tma-static/css/catalog-course-card.css')}">

<div class="container-fluid">
  <div class="row p-5">
    <div class="col">
      <h1>${_("Search results")}</h1>
      <div class="dropdown-container">
        <button>${_("Filter")}<img src="${static.url('tma-static/images/flechebas.svg')}"></button>
        <ul class="dropdown">
          <li value="2"><a href="">${_("Highest rated")}</a><div class="separator"></div></li>
          <li value="3"><a href="">${_("Most subscribed")}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="container-fluid criteria-box">
        <div class="row">
          <h3 class="text-center mt-4 mb-4 w-100">${_("Search filters")}</h1>
        </div>
        <!--FILTER-->
        <div class="row">
          <div class="col">
            <h4 class="header-facet">${_("Language")}</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-10"><p class="facet-option">${_("English")}</p></div>
                <div class="col-2"><span class="count">12</span></div>
              </div>
              <div class="row">
                <div class="col-10"><p class="facet-option">${_("French")}</p></div>
                <div class="col-2"><span class="count">25</span></div>
              </div>
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <!--FILTER-->
        <div class="row">
          <div class="col">
            <h4 class="header-facet">${_("Topics")}</h4>
            <div class="container-fluid">
              <div class="row">
                <div class="col-10"><p class="facet-option">${_("IT")}</p></div>
                <div class="col-2"><span class="count">12</span></div>
              </div>
              <div class="row">
                <div class="col-10"><p class="facet-option">${_("Communication")}</p></div>
                <div class="col-2"><span class="count">25</span></div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="col-lg-9">
        <div class="container-fluid">
          <div class="row">
            % if final_course_list :
              %for course in final_course_list :
                <%include file='../tma_apps/catalog_course_card.html' args='course=course' />
              %endfor
            %endif
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="${static.url('tma-static/js/dashboard-tma-actions.js')}" charset="utf-8"></script>
<script src="${static.url('tma-static/js/likes-and-favorite.js')}" charset="utf-8"></script>
<script>
  $(document).ready(function(){
    // Resize cols for search page 
    $('.flip-container').removeClass('col-lg-3').addClass('col-lg-4')
  });
</script>
<!--
<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container container-fluid">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context pb-5 row">
          <div id="discovery-message" class="search-status-label">Search results</div>
            <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
          <div class="dropdown-container">
            <button>Filter<img src="${static.url('tma-static/images/flechebas.svg')}"></button>
            <ul class="dropdown">
              <li value="2"><a href="">Highest rated</a><div class="separator"></div></li>
              <li value="3"><a href="">Most subscribed</a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <div class="container-fluid criteria-box">
              <div class="row">
                <h3 class="text-center mt-5 w-100">Search filters</h1>
              </div>
              <div class="row">
                % if course_discovery_enabled:
                <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
                  <section class="search-facets-lists">
                  </section>
                </aside>
                % endif
              </div>
            </div>
          </div>
          <div class="col-lg-9">
            <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
                <ul class="courses-listing">
                  %for course in courses:
                  <li class="courses-listing-item">
                    <%include file="../course.html" args="course=course" />
                  </li>
                  %endfor
                </ul>
              </div>
          </div>
        </div>

        <div id="filter-bar" class="filters hide-phone is-collapsed">
        </div>
        % endif

      </section>
    </section>
</main>
-->