<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "courseware" %></%def>
<%!
import waffle

from django.conf import settings
from django.urls import reverse
from django.utils.translation import ugettext as _

from edxnotes.helpers import is_feature_enabled as is_edxnotes_enabled
from openedx.core.djangolib.js_utils import js_escaped_string
from openedx.core.djangolib.markup import HTML
from openedx.features.course_experience import course_home_page_title, COURSE_OUTLINE_PAGE_FLAG
from lms.djangoapps.tma_apps.models import TmaCourseOverview

%>
<%
   include_special_exams = (
   request.user.is_authenticated and
   settings.FEATURES.get('ENABLE_SPECIAL_EXAMS', False) and
   (course.enable_proctored_exams or course.enable_timed_exams)
   )
%>
<%def name="course_name()">
 <% return _("{course_number} Courseware").format(course_number=course.display_number_with_default) %>
</%def>

<%block name="bodyclass">view-in-course view-courseware courseware ${course.css_class or ''}</%block>

<%block name="title">
<title data-base-title="${static.get_page_title_breadcrumbs(section_title, course_name())}">
  ${static.get_page_title_breadcrumbs(sequence_title, section_title, course_name())}
</title>
</%block>


<%block name="header_extras">

% for template_name in ["image-modal"]:
<script type="text/template" id="${template_name}-tpl">
    <%static:include path="common/templates/${template_name}.underscore" />
</script>
% endfor

% if include_special_exams is not UNDEFINED and include_special_exams:
  % for template_name in ["proctored-exam-status"]:
    <script type="text/template" id="${template_name}-tpl">
        <%static:include path="courseware/${template_name}.underscore" />
    </script>
  % endfor
% endif

</%block>

<%block name="headextra">
<%static:css group='style-course-vendor'/>
<%static:css group='style-course'/>
## Utility: Notes
% if is_edxnotes_enabled(course, request.user):
<%static:css group='style-student-notes'/>
% endif

<script type="text/javascript" src="${static.url('js/jquery.autocomplete.js')}"></script>
<script type="text/javascript" src="${static.url('js/src/tooltip_manager.js')}"></script>

<link href="${static.url('css/vendor/jquery.autocomplete.css')}" rel="stylesheet" type="text/css">

<!-- TMA GLOBAL STYLE -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
<link rel="stylesheet" href="${static.url('tma-static/css/global-tma-custom.css')}">

<!-- TMA COURSEWARE STYLE-->
<link rel="stylesheet" href="${static.url('tma-static/css/courseware-tma-custom.css')}">
<link rel="stylesheet" href="${static.url('tma-static/css/courseware-tma-progress-bar.css')}">
<link rel="stylesheet" href="${static.url('tma-static/css/courseware-tma-sidebar-menu.css')}">
<link rel="stylesheet" href="${static.url('tma-static/css/quiz-custom-style.css')}">


  ${HTML(fragment.head_html())}
</%block>

<%block name="js_extra">
  <script type="text/javascript" src="${static.url('common/js/vendor/jquery.scrollTo.js')}"></script>
  <script type="text/javascript" src="${static.url('js/vendor/flot/jquery.flot.js')}"></script>

  <%static:js group='courseware'/>
  <%include file="/mathjax_include.html" args="disable_fast_preview=True"/>

  % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
    <%static:require_module module_name="course_search/js/course_search_factory" class_name="CourseSearchFactory">
        var courseId = $('.courseware-results').data('courseId');
        CourseSearchFactory({
            courseId: courseId,
            searchHeader: $('.search-bar')
        });
    </%static:require_module>
  % endif

  <%static:require_module module_name="js/courseware/courseware_factory" class_name="CoursewareFactory">
    CoursewareFactory();
  </%static:require_module>

  % if staff_access:
  	<%include file="xqa_interface.html"/>
  % endif

  <script type="text/javascript">
    var $$course_id = "${course.id | n, js_escaped_string}";
  </script>

  % if not request.user.is_authenticated:
      <script type="text/javascript">
        // Disable discussions
        $('.xblock-student_view-discussion button.discussion-show').attr('disabled', true);

        // Insert message informing user discussions are only available to logged in users.
        $('.discussion-module')
      </script>
  % endif

${HTML(fragment.foot_html())}

</%block>
<!-- TMA Course Header -->
<div id="tma_course_header">
  <div class="row">
    <div class="col-md-8">
      <h1>${course.display_name_with_default}</h1>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6">
          %if is_course_graded :
          <div class="tma-grade">
            <div>
              <img class="award" src="${static.url('tma-static/images/coupe.png')}" alt="award">
              <span class="font-weight-bold"><span id="tma-grade-value" class="primary-color-text first-part-grade"></span>/<span class="second-part-grade">100</span></span>
            </div>
          </div>
          %endif
          <div class="tma-progress-bar">
            <div class="w3-light-grey" style="min-height: 20px;">
              <div id="tma-completion-progress" class="w3-container w3-padding-small text-white w3-center" style="width:50%; min-height:20px;"></div>
            </div>
            <div id="tma-completion-value-wrapper">
              <span id="tma-completion-value" class="font-weight-bold" style="color:white;"></span>
            </div>
          </div>
        </div>
        <div class="col-md-6 text-center">
          <a href="/courses/${course.id}/about">
            <button class="phileas-button" style="margin-top:25px;">${_('Back to description')}</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="message-banner" aria-live="polite"></div>

% if default_tab:
  <%include file="/courseware/course_navigation.html" />
% else:
  <%include file="/courseware/course_navigation.html" args="active_page='courseware'" />
% endif

<div class="container"
  % if getattr(course, 'language'):
    lang="${course.language}"
  % endif
  >

<style>
  #tma_course_header {
    background-image: url('${static.url("tma-static/images/bg_gris.png")}');
  }
  .course-wrapper .course-content .xblock ol li::before {
    content: counter(li);
    display: inline-block;
    height: 30px !important;
    width: 30px !important;
    padding: 3px 5px 5px 5px;
    margin-right: 8px;
    border: 1px solid #009EE0!important;
    border-radius: 50%;
    font-family: 'Montserrat', sans-serif!important;
    font-size: 13px;
    text-align: center;
  }

  .course-wrapper .course-content .xblock ol li{
    margin-bottom: 10px;
    counter-increment: li;
  }
  .course-wrapper .course-content .xblock ol{
    padding-left: 0px;
  }
  .course-wrapper .course-content .xblock ul{
    list-style-image: url("${static.url('tma-static/images/bullet.svg')}")!important;
  }
  blockquote {
    font-size: 24px !important;
  }
  blockquote::before {
    content:url("${static.url('tma-static/images/two-quotes.png')}");
    transform: rotate(180deg);
    display: inline-block;
  }
  blockquote::after {
    content:url("${static.url('tma-static/images/two-quotes.png')}")
  }
</style>
<!-- TMA COMPLETION NAV -->
% if TmaCourseOverview.objects.get(course_overview_edx__id=course.id).has_menu:
  <div class="tma-coursenav-btn">
    <span class="open-courseware-nav">Menu<i class="fa fa-plus"></i></span>
  </div>
% endif

  <div class="course-wrapper" role="presentation">

    % if disable_accordion :
    <div id="tma-completion-nav" class="folded">
      <div class=text-right>
        <button class="close-courseware-nav"><i class="fa fa-times"></i></button>
      </div>
      <nav id="course_completion">
        ${HTML(outline_fragment.body_html())}
      </nav>
    </div>
    %endif

% if disable_accordion is UNDEFINED or not disable_accordion:
    <div class="course-index">

      <div class="wrapper-course-modes">

          <div class="courseware-bookmarks-button">
              <a class="bookmarks-list-button" href="${reverse('openedx.course_bookmarks.home', args=[course.id])}">
                  ${_('Bookmarks')}
              </a>
          </div>

          % if settings.FEATURES.get('ENABLE_COURSEWARE_SEARCH'):
            <div id="courseware-search-bar" class="search-bar courseware-search-bar" role="search" aria-label="Course">
              <form class="search-form">
                <label for="course-search-input" class="sr">${_('Course Search')}</label>
                <div class="search-field-wrapper">
                  <input id="course-search-input" type="text" class="search-field"/>
                  <button type="submit" class="search-button">${_('Search')}</button>
                  <button type="button" class="cancel-button" title="${_('Clear search')}">
                    <span class="icon fa fa-remove" aria-hidden="true"></span>
                  </button>
                </div>
              </form>
            </div>
          % endif

      </div>
% endif

    <section class="course-content" id="course-content">
        <header class="page-header has-secondary">
            <div class="page-header-main">
                <nav aria-label="${_('Course')}" class="sr-is-focusable" tabindex="-1">
                    <div class="has-breadcrumbs">
                        <div class="breadcrumbs">
                            % if COURSE_OUTLINE_PAGE_FLAG.is_enabled(course.id):
                                <span class="nav-item nav-item-course">
                                    <a href="${course_url}">${course_home_page_title(course)}</a>
                                </span>
                                <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                            % endif
                            % if chapter:
                                <span class="nav-item nav-item-chapter" data-course-position="${course.position}" data-chapter-position="${chapter.position}">
                                    <a href="${course_url}#${unicode(chapter.location)}">${chapter.display_name_with_default}</a>
                                </span>
                                <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                            % endif
                            % if section:
                                <span class="nav-item nav-item-section">
                                    <a href="${course_url}#${unicode(section.location)}">${section.display_name_with_default}</a>
                                </span>
                                <span class="icon fa fa-angle-right" aria-hidden="true"></span>
                            % endif
                            <span class="nav-item nav-item-sequence">${sequence_title}</span>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <main id="main" tabindex="-1" aria-label="Content">
            % if getattr(course, 'entrance_exam_enabled') and \
               getattr(course, 'entrance_exam_minimum_score_pct') and \
               entrance_exam_current_score is not UNDEFINED:
                % if not entrance_exam_passed:
                <p class="sequential-status-message">
                    ${_('To access course materials, you must score {required_score}% or higher on this \
                    exam. Your current score is {current_score}%.').format(
                        required_score=int(round(course.entrance_exam_minimum_score_pct * 100)),
                        current_score=int(round(entrance_exam_current_score * 100))
                    )}
                </p>
                <script type="text/javascript">
                $(document).ajaxSuccess(function(event, xhr, settings) {
                    if (settings.url.indexOf("xmodule_handler/problem_check") > -1) {
                        var data = JSON.parse(xhr.responseText);
                        if (data.entrance_exam_passed){
                            location.reload();
                        }
                    }
                });
                </script>
                % else:
                  <p class="sequential-status-message">
                    ${_('Your score is {current_score}%. You have passed the entrance exam.').format(
                        current_score=int(round(entrance_exam_current_score * 100))
                    )}
                </p>
                % endif
            % endif

              ${HTML(fragment.body_html())}
        </main>
    </section>

    <section class="courseware-results-wrapper">
      <div id="loading-message" aria-live="polite" aria-relevant="all"></div>
      <div id="error-message" aria-live="polite"></div>
      <div class="courseware-results search-results" data-course-id="${course.id}" data-lang-code="${language_preference}"></div>
    </section>

  </div>
  ${HTML(course_sock_fragment.body_html())}
</div>

% if course.show_calculator or is_edxnotes_enabled(course, request.user):
    <nav class="nav-utilities ${"has-utility-calculator" if course.show_calculator else ""}" aria-label="${_('Course Utilities')}">
      ## Utility: Notes
      % if is_edxnotes_enabled(course, request.user):
        <%include file="/edxnotes/toggle_notes.html" args="course=course"/>
      % endif

      ## Utility: Calc
      % if course.show_calculator:
        <%include file="/calculator/toggle_calculator.html" />
      % endif
    </nav>
% endif

<!-- TMA MODAL BRAVO ECHEC -->
<div id="tma_course_end_popup" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-graded-success">
        <div class="modal-body">
          <h5 class="text-center font-weight-bold">${_("Congratulations!")}</h5>
          <p class="text-center message">${_("You have finished your training.")}<br>${_("You can now access your certificate or return to your dashboard.")}</p>
          <p class="text-center">${_("Your score is ")}<span class="text-bold score"></span>/100</p>
        </div>
        <div class="modal-footer">
          <a href=""><button id="tma_get_certificate" type="button" class="btn btn-secondary">${_('Get my certificate')}</button></a>
          <button onclick="window.location.href='/tma_apps/dashboard/home'" type="button" class="btn btn-secondary">${_('Return to the dashboard')}</button>
        </div>
      </div>
      <div class="modal-graded-fail">
        <div class="modal-body">
          <h5 class="text-center font-weight-bold">${_("Sorry...")}</h5>
          <p class="text-center message">${_("You did not achieve this training.")}<br>${_("You can now try again or return to your dashboard.")}</p>
          <p class="text-center">${_("Your score is ")}<span class="text-bold score"></span>/100</p>
        </div>
        <div class="modal-footer">
          <button id="try_again" type="button" class="btn btn-secondary">${_('Start over')}</button>
          <button onclick="window.location.href='/tma_apps/dashboard/home'" type="button" class="btn btn-secondary">${_('Return to the dashboard')}</button>
        </div>
      </div>
      <div class="modal-not-graded-success">
        <div class="modal-body">
          <h5 class="text-center font-weight-bold">${_("Congratulations!")}</h5>
          <p class="text-center message">${_("You have finished your training.")}<br>${_("You can now mark this course as completed.")}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary mark-as-done" style="margin:auto">${_('Mark as complete')}</button>
        </div>
        <p class="markasdone">${_('By clicking the "Mark as complete" button, I confirm I have read all the material, including Amundi Pioneer policies.')}</p>
      </div>
    </div>
  </div>
</div>

<!--TMA SCRIPT COURSEWARE -->
<script>
  let global_courseid = "${course.id | n, js_escaped_string}";
  let hasMenu = "${TmaCourseOverview.objects.get(course_overview_edx__id=course.id).has_menu}"
</script>
<script src="${static.url('tma-static/js/courseware-tma-completion-nav.js')}" charset="utf-8"></script>
<script src="${static.url('tma-static/js/courseware-tma-grade.js')}" charset="utf-8"></script>
<script src="${static.url('tma-static/js/popup-bravo.js')}" charset="utf-8"></script>
