<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import dump_js_escaped_json
  from courseware.courses import get_course_by_id
  from opaque_keys.edx.keys import CourseKey

%>
<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language}",
      "${user_timezone}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">${_("Courses")}</%block>

<!-- TMA GLOBAL STYLE -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
<link rel="stylesheet" href="${static.url('tma-static/css/courses-tma-custom.css')}">
<link rel="stylesheet" href="${static.url('tma-static/css/global-tma-custom.css')}">
<link rel="stylesheet" href="${static.url('tma-static/css/catalog-course-card.css')}">

<div class="container-fluid" style="padding-bottom: 150px;">
  <div class="row p-5">
    <div class="col">
      <h1 class="search-title">${_("Search Results")}</h1>
      <div class="dropdown-container">
        <button>${_("Filter")}<img src="${static.url('tma-static/images/flechebas.svg')}"></button>
        <ul class="dropdown">
          <li value="2"><a href="/courses/?filter=likes">${_("Highest rated")}</a><div class="separator"></div></li>
          <li value="3"><a href="/courses/?filter=enrollments">${_("Most subscribed")}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3 pr-0 pl-5">
      <div class="container-fluid criteria-box p-4">
        <div class="row"><h3 class="col mb-4 w-100">${_("Search & Filters")}</h1></div>
        <form class="row text-center mb-5">
          <button class="col-2 pl-0 pb-0" id="course-search"><img src="/static/tma-static/images/loupe_black.svg" style="width:30px"></button>
          <input class="col-10" type="text" name="search" placeholder='${_("Search for a course")}'>
        </form>
        <!-- GENERIC FILTERS -->
        <div class="row">
          <div class="col">
            <!-- title -->
            <div class="container-fluid pb-2">
                <div class="row">
                  <div class="col-10"><h4 class="header-facet all" data-filtertype="all">${_("All")}</h4></div>
                  <div class="col-2"><span class="count">${len(final_course_list)}</span><span class="count close-filter" data-filtertype="all">X</span></div>
                </div>
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="row">
          <div class="col">
            <!-- title -->
            <div class="container-fluid pb-2">
                <div class="row">
                  <div class="col-10"><a href=""><h4 class="header-facet new" data-filtertype="is_new">${_("New")}</h4></a></div>
                  <div class="col-2"><span class="count">${new_counter['new']}</span><span class="count close-filter" data-filtertype="is_new">X</span></div>
                </div>
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <!--FILTER LANGUAGES-->
        <div class="row">
          <div class="col">
            <!-- title -->
            <div class="container-fluid pb-2">
                <div class="row">
                  <div class="col-10"><h4 class="header-facet">${_("Languages")}</h4></div>
                  <div class="col-2"><span class="count">${len(final_course_list)}</span></div>
                </div>
            </div>
            <div class="container-fluid">
                % for language, count in language_counters.items():
                  <div class="row facet">
                    <div class="col-10">
                      <a href="">
                        <p class="facet-option" data-filtertype="language" data-tag="${language}">
                      % if 'fr' in language:
                        <img src="${static.url('tma-static/images/lang_'+language+'.svg')}" height="40px" class="mr-2"/>${_("French")}</p></a></div>
                      % else:
                        <img src="${static.url('tma-static/images/lang_'+language+'.svg')}" height="40px" class="mr-2"/>${_("English")}</p></a></div>
                      % endif
                    <div class="col-2">
                      <span class="count">${count}</span>
                      <span class="count close-filter" data-filtertype="language" data-tag="${language}">X</span>
                    </div>
                  </div>
                % endfor
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <!--FILTER TAGS-->
        <div class="row">
          <div class="col">
            <!-- title -->
            <div class="container-fluid pb-2">
                <div class="row">
                  <div class="col-10"><h4 class="header-facet">${_("Subjects")}</h4></div>
                  <div class="col-2 pr-0"><span class="count">${len(final_course_list)}</span></div>
                </div>
            </div>
            <div class="container-fluid">
              % for tag, count in tag_counters.items():
                % if 'False' not in tag:
                  <div class="row facet">
                    <div class="col-10">
                      <a href=""><p class="facet-option" data-filtertype="tag" data-tag="${tag}">${_(tag)}</p>
                      </a>
                    </div>
                    <div class="col-2">
                      <span class="count">${count}</span>
                      <span class="count close-filter" data-filtertype="tag" data-tag="${tag}">X</span>
                    </div>
                  </div>
                % endif
              % endfor
            </div>
          </div>
        </div>
        <div class="separator"></div>
        <!--ONBOARDING TAGS-->
        <div class="row">
            <div class="col">
              <!-- title -->
              <div class="container-fluid pb-2">
                  <div class="row">
                    <div class="col-10"><h4 class="header-facet">${_("OnBoarding")}</h4></div>
                    <div class="col-2 pr-0">
                      <span class="count">${sum(value for key, value in onboarding_counters.iteritems() if key!= 'False')}</span>
                    </div>
                  </div>
              </div>
              <div class="container-fluid">
                % for tag, count in onboarding_counters.items():
                  % if 'False' not in tag:
                    <div class="row facet">
                      <div class="col-10">
                        <a href="">
                          <p class="facet-option" data-filtertype="onboarding" data-tag="${tag}">${_(tag)}</p>
                        </a>
                      </div>
                      <div class="col-2">
                        <span class="count">${count}</span>
                        <span class="count close-filter" data-filtertype="onboarding" data-tag="${tag}">X</span>
                      </div>
                    </div>
                  % endif
                % endfor
              </div>
            </div>
          </div>
          <div class="separator"></div>
        <!--FILTER ORG-->
        <div class="row">
          <div class="col">
            <div class="container-fluid pb-2">
              % for org, count in org_counters.items():
                <div class="row mb-3">
                  <div class="col-10">
                    <a href="">
                      <h4 class="header-facet org" data-filtertype="org" data-tag="${org}">${org}</h4>
                    </a>
                  </div>
                  <div class="col-2 pr-0">
                    <span class="count">${count}</span>
                    <span class="count close-filter" data-filtertype="org" data-tag="${org}">X</span>
                  </div>
                </div>
              % endfor
            </div>
          </div>
        </div>
      </div>
      </div>
      <div class="col-lg-9 pl-0 pr-5">
        <div class="container-fluid">
          <div id="cards-box" class="row">
            % for course in final_course_list:
              <%include file='../tma_apps/catalog_course_card.html' args='course=course' />
            % endfor
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="${static.url('tma-static/js/dashboard-tma-actions.js')}" charset="utf-8"></script>
<script src="${static.url('tma-static/js/likes-and-favorite.js')}" charset="utf-8"></script>
<script src="${static.url('tma-static/js/course-search.js')}" charset="utf-8"></script>
<script>
  /* SEARCH QUERY */
  // Resize cols and cards for search page 
  $('.flip-container').removeClass('col-lg-3').addClass('col-lg-4');

  var coursesJson = ${json_courses | n, dump_js_escaped_json};
  var query = {tag: [], onboarding: [], language: [], org: [], is_new: false, input: ''};
  var results = [];

  const browseCatalogDisplay = function(results) {
    if (results.length > 0) {
        displayResults(results);
        flipEffect();
      } else {
        noResults();
        $('.no-results h3:first-of-type').html('${_("No results were found matching your request.")}');
        $('.no-results h3:last-of-type').html('${_("Browse our catalog.")}');
        $('.no-results .discover-btn').html('${_("Discover")}');
        //query = {tag: [], language: [], org: [], is_new: false, input: ''};
      }
  };

  $(document).ready(function(){
    // When coming from HP - query from URL
    if (window.location.search) {
      // Get filter from URL
      urlParam = window.location.search.split('=')[1];
      // Prevent interfering with filter dropdown
      if (urlParam != 'likes' && urlParam != 'enrollments') {
        // Filter case
        if (window.location.search.split('=')[0].indexOf('filter') > -1) {
          // Modify param for 2-words filters
          if (urlParam == 'Business' || urlParam == 'Business%20App.') {
            urlParam = 'Business App.';
          } else {
            if (urlParam == 'Office' || urlParam == 'Office%20Tools') {
              urlParam = 'Office Tools';
            }
          }
          query['tag'].push(urlParam);
        } 
        //Filter by onboarding tag
        else if(window.location.search.split('=')[0].indexOf('onboarding')>-1){
          if(urlParam.toLowerCase().indexOf('newstarter')>-1){
            query['onboarding'].push('New Starter')
          }
        }
        else {
          // Input case
          query['input'] = urlParam;
        }

        // Change facet style
        $('p.facet-option[data-tag="'+urlParam+'"]').addClass('filter-selected');
        $('p.facet-option[data-tag="'+urlParam+'"]').parent().parent().parent().children('.col-2').children('.close-filter').show();

        // Display results
        results = searchByFilter(coursesJson, query);
        browseCatalogDisplay(results);
      };
    };

    // From filters
    $('.facet-option, .org, .new').on('click', function(e){
      e.preventDefault();
      // Type of filter and value
      var key = $(this).attr('data-filtertype');
      var value = $(this).attr('data-tag');

      // Check is filter was already clicked
      if (key === 'is_new') {
        query[key] = true;
      } else {
          if (query[key].indexOf(value) > -1) {
          //console.log('ALREADY IN');
        } else {
          query[key].push(value);
        }
      };

      // Change facet style
      $(this).addClass('filter-selected');
      $(this).parent().parent().parent().children('.col-2').children('.close-filter').show();

      // Search query
      results = searchByFilter(coursesJson, query);
      browseCatalogDisplay(results);
    });

    // All filter
    $('.all').on('click', function(e){
      e.preventDefault();
      // Empty query object
      query = {tag: [], language: [], org: [], is_new: false, input: ''};
      // Remove all filter styling
      $('.filter-selected').removeClass('filter-selected');
      $('.close-filter').hide();
      // Display all courses
      browseCatalogDisplay(coursesJson);
    });

    // Remove filter from results
    $('.criteria-box').on('click', 'span.close-filter', function() {
      // Splice filter out of selected
      var key = $(this).attr('data-filtertype');
      var value = $(this).attr('data-tag');

      if (key == 'is_new') {
        query[key] = false;
      } else {
        // Remove item from query object
        query[key].forEach(function(item, index){
          if (item === value) {
            query[key].splice(index, 1);
          }
        });
      }

      // Remove styling if facet-option OR facet-header
      $(this).parent().parent().children('.col-10').children().children().removeClass('filter-selected');
      $(this).parent().parent().children('.col-10').children().removeClass('filter-selected');
      $(this).hide();

      // New results to display
      results = searchByFilter(coursesJson, query);
      browseCatalogDisplay(results);
    });

    // From input
    $('#course-search').on('click', function(e) {
      e.preventDefault();
      query['input'] = $('input[name="search"]').val().trim();
      // Search query
      results = searchByFilter(coursesJson, query);
      browseCatalogDisplay(results);
      if (results.length <= 0) {
        query['input'] = '';
        $('input[name="search"]').val('');
      }
    });
  });
</script>