<%page expression_filter="h"/>
<%!
    import json
    from django.utils.translation import ugettext as _
    from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
    from openedx.core.djangolib.js_utils import dump_js_escaped_json
%>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="../main.html" />

<%block name="pagetitle">${_("Sign in or Register")}</%block>

<%block name="js_extra">
    <%static:require_module module_name="js/student_account/logistration_factory" class_name="LogistrationFactory">
        var options = ${data | n, dump_js_escaped_json};
        LogistrationFactory(options);
        if ('newrelic' in window) {
            newrelic.finished();
            // Because of a New Relic bug, the finished() event doesn't show up
            // in Insights, so we have to make a new PageAction that is basically
            // the same thing. We still want newrelic.finished() for session
            // traces though.
            newrelic.addPageAction('xfinished');
        }
    </%static:require_module>
    % if configuration_helpers.get_value('DISPLAY_TOS_IN_MODAL_ON_REGISTRATION_PAGE', False):
    <script type="text/javascript" src="${static.url('js/student_account/tos_modal.js')}"></script>
    % endif
</%block>

<%block name="header_extras">
    % for template_name in ["account", "access", "form_field", "login", "register", "institution_login", "institution_register", "password_reset", "hinted_login"]:
        <script type="text/template" id="${template_name}-tpl">
            <%static:include path="student_account/${template_name}.underscore" />
        </script>
    % endfor
</%block>
<div class="section-bkg-wrapper">
    <main id="main" aria-label="Content" tabindex="-1">
        <div id="content-container" class="login-register-content">
            % if enable_enterprise_sidebar:
                <%include file="enterprise_sidebar.html" />
                <%
                    border_class = 'border-left'
                %>
            % else:
                <%
                    border_class = ''
                %>
            % endif
            <div id="login-and-registration-container" class="login-register ${border_class}"></div>
        </div>
    </main>
</div>
<!-- TMA MODAL CONNECT -->
<style>
    #connect-popup {
        width: 100%;
        padding: 50px;
        left: 0;
        background-color: white;
    }
    #connect-popup .modal-body {
        padding: 50px;
    }
    #connect-popup .modal-content {
        border: none;
    }
    #connect-popup .modal-body h1 {
        font-size: 20px;
    }
    #connect-popup .connect-btn {
        width: 200px;
        margin: auto;
        display: table;
        padding: 10px;
        border-radius: 28px;
        background-color: white;
        color: #0B1A4C !important;
        border: 2px solid #0B1A4C;
        vertical-align: middle;
        text-align: center;
    }
    #connect-popup .connect-btn:hover {
        color: white !important;
        background-color: #0B1A4C !important;
        border: 2px solid white;
        text-decoration: none !important;
    }
</style>
<div id="connect-popup" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-cookies">
                <div class="modal-body">
                    <h1 class="text-center message mb-4">${_("Login to Phileas training platform")}</h1>
                    <a href="/auth/login/amundi/?auth_entry=register&next=%2Fdashboard" class="connect-btn">${_("Login")}</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        if (window.location.search.indexOf('admin=True') == -1) {
            $('#connect-popup').modal({
                backdrop: 'static',
                keyboard: false
            });
            $('#connect-popup').modal('show');
        }
    });
</script>