<%page args="course"/>
<%def name="online_help_token()"><% return "catalogCourseCard" %></%def>
<%namespace name='static' file='../static_content.html'/>


<%
from lms.djangoapps.tma_apps.vodeclic.vodeclic import get_vodeclic_href
from django.utils.translation import ugettext as _
from opaque_keys.edx.locations import SlashSeparatedCourseKey

split_tags = course['tag'].split(',')

is_apoc = str(course['id'])=="course-v1:europe+APOC+APOC" or str(course['id'])=="course-v1:americas+APOC+APOC" or str(course['id'])=="course-v1:asia+APOC+APOC"
%>


<div class="col-lg-3 col-md-6 flip-container">
  <div class="flipper">
    <!--flip front content-->
    <div class="course-card-sm front">
      % if course['is_mandatory']:
      <div class="col mandatory-tag">
        <p class="text-center">${_("Mandatory Course")}</p>
      </div>
      % endif

        <div class="cover-image">
            <img src="${course['course_image_url']}" alt="${course['display_name_with_default']} ${course['display_number_with_default']}"/>
        </div>
        <!-- Pins & title block -->
        <div class="container-fluid">
          <div class="container-fluid">
            <div class="row">
              <div class="course-name col">
                <div data-course-id="${str(course['id'])}" class="row pin-row ${str(course['id']).replace(':','').replace('+','')}">
                  <div>
                    % if ',' in course['tag']:
                        <div class="category-tag ${split_tags[0].replace(' ','-').replace('.','').lower()}">${_(split_tags[0])}</div>
                    % else:
                        <div class="category-tag ${course['tag'].replace(' ','-').replace('.','').lower()}">${_(course['tag'])}</div>
                    % endif
                  </div>
                    % if (course['is_manager_only'] and not request.user.profile.is_manager) or course['is_blocked'] :
                      <img src="${static.url('tma-static/images/cadenas.svg')}" data-toggle="tooltip" data-delay='{"show":"100", "hide":"100"}' data-placement="top" title="Manager Only" class="pin">
                    % endif
                    % if course['is_favorite']:
                      <span class="pin favorite favorite-on"></span>
                    % else:
                      <span class="pin favorite favorite-off"></span>
                    % endif
                </div>
                <div class="row course-title">
                  <p>${course['display_name']}</p>
                </div>
                <!-- Arrow block -->
                <div class="pictos-box">
                  <div data-course-id="${str(course['id'])}" class="row course-pictos ${str(course['id']).replace(':','').replace('+','')}">
                      <div data-course-id="${str(course['id'])}" class="col-4 text-center pl-2 pr-2 ${str(course['id']).replace(':','').replace('+','')}">
                      %if course['is_liked'] :
                        <span class="pin like like-on"></span>
                      %else :
                        <span class="pin like like-off"></span>
                      %endif
                      <span class="like_count count-box" data-min='0' data-max="${course['liked_total']}" data-delay='1' data-increment="${int(course['liked_total']/3)}">
                        ${course['liked_total']}
                      </span>
                    </div>
                    <div class="col-4 text-center pl-2 pr-2">
                        <img src="${static.url('tma-static/images/Time.png')}">
                        <span>${course['effort']}<span>
                    </div>
                    <div class="col-4 text-center pl-2 pr-2">
                        % if course['language'] == "fr":
                          <img src="${static.url('tma-static/images/lang_fr.svg')}">
                        % else:
                          <img src="${static.url('tma-static/images/lang_en.svg')}">
                        % endif
                        <span class="text-uppercase">${course['language']}</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col text-center">
                      <a href="#"><img src="${static.url('tma-static/images/flechebas.png')}"></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      <!--flip back content-->
      <div class="course-card-sm back">
        % if course['is_mandatory']:
          <div class="col mandatory-tag">
              <p class="text-center">${_("Mandatory Course")}</p>
          </div>
        % endif
        <div class="cover-image">
          <img src="${course['course_image_url']}" alt="${course['display_name_with_default']} ${course['display_number_with_default']}"/>
        </div>
        <div class="container-fluid">
            <div class="container-fluid">
          <div class="row">
              <div data-course-id="${str(course['id'])}" class="row pin-row ${str(course['id']).replace(':','').replace('+','')}">
                % if ',' in course['tag']:
                  <div class="category-tag ${split_tags[0].replace(' ','-').replace('.','').lower()}">
                    <a href="/courses?filter=${split_tags[0]}">${_(split_tags[0])}</a>
                  </div>
                % else:
                  <div class="category-tag ${course['tag'].replace(' ','-').replace('.','').lower()}">
                    <a href="/courses?filter=${course['tag']}">${_(course['tag'])}</a>
                  </div>
                % endif
                % if (course['is_manager_only'] and not request.user.profile.is_manager) or course['is_blocked'] :
                  <img src="${static.url('tma-static/images/cadenas.svg')}" data-toggle="tooltip" data-placement="top" data-delay='{"show":"100", "hide":"100"}' title="Manager Only" class="pin">
                % endif
                % if course['is_favorite']:
                  <span class="pin favorite favorite-on"></span>
                % else:
                  <span class="pin favorite favorite-off"></span>
                % endif
                %if course['is_liked'] :
                  <span class="pin like like-on"></span>
                %else :
                  <span class="pin like like-off white"></span>
                %endif
              </div>
            </div>
            <div class="row course-title">
              <h3>${course['display_name']}</h3>
            </div>
          </div>
          <div class="row">
            <div class="">
              %if course['short_description'] :
                <p style='padding:15px;'>${course['short_description'][:125]}...</p>
              %else :
                <p></p>
              %endif
            </div>
          </div>
          <div class="row">
            <div class="text-center course-btn">
              %if (course['is_manager_only'] and not request.user.profile.is_manager) or course['is_blocked'] :
                <a class="enroll-btn no-enroll">${_("Not authorized")}</a>
              %elif course['is_vodeclic'] :
                %if course['is_enrolled'] :
                  <a href="${get_vodeclic_href(user,course['id'])}" target="_blank" class="enroll-btn">${_("Continue")}</a>
                %else :
                  <a href="${get_vodeclic_href(user,course['id'])}" target="_blank" class="enroll-btn nocourseabout_register" data-nocourseaboutcourse-id="${course['id']}">${_("Join")}</a>
                %endif
              %elif is_apoc:
                  <form name="apocform" target="_blank" action="https://apoc.themoocagency.com/autologreg" style="display:none">
                    <input type='text' name='PID' value='${user.profile.rpid}' />
                    <input type='text' name='firstname' value='${user.first_name}' />
                    <input type='text' name='lastname' value='${user.last_name}' />
                    <input type='text' name='email' value='${user.email}' />
                    <input type='text' name='entity_id' value='amundi' />
                    <button>Submit</button>
                  </form>
                %if course['is_enrolled'] :
                  <a target="_blank" class="enroll-btn" onclick="document.querySelector('form[name=&quot;apocform&quot;]').submit();">${_("Continue")}</a>
                %else :
                  <a data-nocourseaboutcourse-id="${course['id']}" target="_blank" class="enroll-btn nocourseabout_register" onclick="document.querySelector('form[name=&quot;apocform&quot;]').submit();">${_("Join")}</a>
                %endif
              %else :
                %if course['is_enrolled'] :
                  % if course['has_validated_course']:
                    <a href="${'/courses/'+str(course['id'])+'/courseware/'}" class="enroll-btn">${_("Completed")}</a>
                  % else:
                    <a href="${'/courses/'+str(course['id'])+'/courseware/'}" class="enroll-btn">${_("Continue")}</a>
                  % endif
                %else :
                  <a href="${'/courses/'+str(course['id'])+'/about'}" class="enroll-btn">${_("Join")}</a>
                %endif
              %endif
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
