<%page expression_filter="h"/>
<%inherit file="/main.html" />
<%namespace name='static' file='/static_content.html'/>
<%def name="online_help_token()"><% return "courseware" %></%def>
<%!
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from tma_apps.tma_methodes import is_tma_staff
from django.utils.translation import ugettext as _
%>

<%block name="pagetitle">${_("Certificate")}</%block>

<style>
/*Erase footer*/
.container-fluid.footer{
  display: none;
}
  body{
    text-align:center;
  }
  #main{
    margin-top:150px;
    width:854px;
    height:480px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    padding: 20px;
    border: 5px solid #0C1C49;
  }
  .align-vertically{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
  }
  #bandeau-top,#bandeau-middle,#bandeau-bottom{
    color: #0C1C49;
    text-align: center;
  }
  .award{
    max-height: 75px;
    margin-top: 15px;
  }
</style>

% if passed or is_tma_staff(request.user):
<div id="main" class="align-vertically">
  <div id="bandeau-top" class="transparency-color">
    <h3>${_('Course Certificate')}</h3>
  </div>
  <div id="bandeau-middle" class="transparency-color">
    <h3 class="font-weight-bold">${first_name} ${last_name}</h3>
    <h4>${_('successfully completed the course')}</h4>
    <h3 class="font-weight-bold">${course_name}</h3>
    <div><img class="award" src="${static.url('tma-static/images/award.png')}" alt="award"></div>
  </div>
  <div id="bandeau-bottom" class="transparency-color">
    <h5>${_('PHILEAS')}</h5>
  </div>
</div>

%else :
<div id="main">
  <h1>${_('CERTIFICATE UNAVAILABLE')}</h1>
  <p class="text-center">${_('You did not reach minimum grade to get your certificate')}</p>
</div>
%endif
