<%page args="course"/>
<%def name="online_help_token()"><% return "catalogCourseCard" %></%def>
<%namespace name='static' file='../static_content.html'/>


<%
from lms.djangoapps.tma_apps.vodeclic.vodeclic import get_vodeclic_href
from django.utils.translation import ugettext as _
%>

<div class="col-lg-6">
<div class="course-card-sm">
  % if course['is_mandatory']:
    <div class="col mandatory-tag">
        <p class="text-center">Mandatory Course</p>
    </div>
  % endif
  <div class="cover-image">
      <img src="${course['course_image_url']}" alt="${course['display_name_with_default']} ${course['display_number_with_default']}"/>
  </div>
  <div class="row">
    <div class="col-6 course-name">
      <div class="container-fluid">
        <div class="container-fluid">
            <div class="row">
              <div class="col course-name">
                <div data-course-id="${str(course['id'])}" data-course-id="${str(course['id'])}" class="row pin-row ${str(course['id']).replace(':','').replace('+','')}">
                  % if ',' in course['tag']:
                    <% split_tags = course['tag'].split(',') %>
                      <div class="category-tag">${split_tags[0]}</div>
                  % else:
                      <div class="category-tag">${course['tag']}</div>
                  % endif
                  % if (course['is_manager_only'] and not request.user.profile.is_manager) or course['is_blocked'] :
                    <div>
                      <img src="${static.url('tma-static/images/cadenas.svg')}" data-toggle="tooltip" data-placement="top" title="Manager Only" class="pin">
                    </div>
                  % endif
                  % if course['is_favorite']:
                    <span class="pin favorite favorite-on"></span>
                  % else:
                    <span class="pin favorite favorite-off"></span>
                  % endif
                </div>
                <div class="row course-title">
                  <p>${course['display_name']}</p>
                </div>
                <div class="align-items-end">
                  <div class="row course-pictos ${course['id']}">
                    <div data-course-id="${str(course['id'])}" class="col-4 text-center pl-2 pr-2 ${str(course['id']).replace(':','').replace('+','')} count-box">
                      %if course['is_liked'] :
                        <span class="pin like like-on"></span>
                      %else :
                        <span class="pin like like-off"></span>
                      %endif
                      <span class="like_count count-box" data-min='0' data-max="${course['liked_total']}" data-delay='1' data-increment="${int(course['liked_total']/3)}">
                        ${course['liked_total']}
                      </span>
                    </div>
                    <div class="col-4 text-center pl-2 pr-2">
                        <img src="${static.url('tma-static/images/Time.png')}">
                        <span>${course['effort']}</span>
                    </div>
                    <div class="col-4 text-center pl-2 pr-2">
                        % if course['language'] == "fr":
                          <img src="${static.url('tma-static/images/lang_fr.svg')}">
                        % else:
                          <img src="${static.url('tma-static/images/lang_en.svg')}">
                        % endif
                        <span class="text-uppercase">${course['language']}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="col-6 course-resume">
      <div class="container-fluid">
        <div class="row mb-3">
          <div class="col">
            %if course['short_description'] :
              <p class="text-card-lg">${course['short_description'][:240]}...</p>
            %else :
              <p class="text-card-lg"></p>
            %endif
          </div>
        </div>
      </div>
      <div class="row">
          <div class="text-center course-btn">
            %if (course['is_manager_only'] and not request.user.profile.is_manager) or course['is_blocked'] :
              <a class="enroll-btn no-enroll">Not authorized</a>
            %elif course['is_vodeclic'] :
              %if course['is_enrolled'] :
                <a href="${get_vodeclic_href(user,course['id'])}" target="_blank" class="enroll-btn">Continue</a>
              %else :
                <a href="${get_vodeclic_href(user,course['id'])}" target="_blank" class="enroll-btn vodeclick_register" data-vodeclic-id="${course['id']}">${_("Join")}</a>
              %endif
            %else :
              %if course['is_enrolled'] :
                <a href="${'/courses/'+str(course['id'])+'/courseware/'}" class="enroll-btn">Continue</a>
              %else :
                <a href="${'/courses/'+str(course['id'])+'/about'}" class="enroll-btn">${_("Join")}</a>
              %endif
            %endif
          </div>
        </div>
    </div>
  </div>
</div>
</div>
