<%page args="course_overview, user"/>
<%def name="online_help_token()"><% return "learnerdashboard" %></%def>
<%namespace name='static' file='../static_content.html'/>

<%!
import urllib

from django.utils.translation import ugettext as _
from django.utils.translation import ungettext
from django.urls import reverse
from course_modes.models import CourseMode
from course_modes.helpers import enrollment_mode_display
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text
from openedx.features.course_experience import course_home_url_name
from student.helpers import (
  VERIFY_STATUS_NEED_TO_VERIFY,
  VERIFY_STATUS_SUBMITTED,
  VERIFY_STATUS_RESUBMITTED,
  VERIFY_STATUS_APPROVED,
  VERIFY_STATUS_MISSED_DEADLINE,
  VERIFY_STATUS_NEED_TO_REVERIFY,
  DISABLE_UNENROLL_CERT_STATES,
)
from util.course import get_link_for_about_page, get_encoded_course_sharing_utm_params
from lms.djangoapps.tma_apps.models import TmaCourseEnrollment
from student.models import CourseEnrollment
from django.contrib.auth.models import User
from lms.djangoapps.tma_apps.vodeclic.vodeclic import get_vodeclic_href
from cms.djangoapps.tma_cms_apps.programs.models import TmaProgramCourse
from student.models import CourseEnrollment
from math import ceil

%>

<%
course_enrollment = CourseEnrollment.objects.get(user=user, course=course_overview)
has_validated_course = TmaCourseEnrollment.objects.get(course_enrollment_edx=course_enrollment).has_validated_course
course_title = course_overview.display_name_with_default
enrollment_is_active = course_enrollment.is_active
course_target = "/courses/"+str(course_overview.id)+"/courseware/"

program_course = TmaProgramCourse.objects.get(course=course_overview)
program = program_course.program
program_is_linear = program.is_linear
has_validated_previous_course = True

if program_is_linear:
  course_order = program_course.order
  if course_order > 0:
    previous_course = TmaProgramCourse.objects.get(program=program, order=(course_order - 1))
    previous_course_enrollment = CourseEnrollment.objects.get(user=user, course=previous_course.course)
    has_validated_previous_course = TmaCourseEnrollment.objects.get(course_enrollment_edx=previous_course_enrollment).has_validated_course
%>

<link rel="stylesheet" href="${static.url('tma-static/css/likes-and-favorite.css')}">
<style>
  .program-training-card {
    margin-bottom: 80px;
    height: 200px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 5px 12px 0px rgba(0,0,0,0.09);
    overflow: hidden;
}
.program-training-card p {
    margin-bottom: 0px;
}

.disabled-anchor{
    cursor: default;
    pointer-events: none;        
    opacity: 0.5;
}
</style>
<div class="col-lg-3 col-md-6">
  <div class="program-training-card">
    <div class="container-fluid">
      <div class="row">
        <div class="col m-3 pl-1 pr-0">
        <p class="title-course">${course_title}</p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          %if enrollment_is_active:
            % if has_validated_course:
              <a href="${course_target}" class="continue-btn">${_("Completed")}</a>
            % elif not has_validated_previous_course:
              <a href="${course_target}" class="continue-btn disabled-anchor">${_("Continuer")}</a>
            % else:
            <a href="${course_target}" class="continue-btn">${_("Continue")}</a>
            % endif
          %else :
            <a href="${'/courses/'+str(course_overview.id)+'/about'}" class="enroll-btn">${_("Join")}</a>
          %endif
        </div>
      </div>
    </div>
  </div>
</div>
