<%page expression_filter="h"/>
<%!

from django.utils.translation import ugettext as _ 
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
import json

legal_content = ''
try:
  legal_content = json.loads(configuration_helpers.get_current_site_configuration())
except:
  pass

%>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("Terms of Service")}</%block>
        </h1>
        <p>
            <%block name="pagecontent">${page_content or _("Waiting for content to implement")}</%block>
        </p>
    </section>
</main>
<script>
$( document ).ready(function() {
  var legalContent = ${legal_content}
  console.log(legalContent)
  if (legalContent != '') {
    $('section.about').html(legalContent);
  }
});
</script>

