.is-signedin.course .wrapper-header .wrapper-l, .is-signedin.course .wrapper-header .nav-course {
    width: 50% !important
}
.is-signedin.course .wrapper-header .wrapper-r {
    width: 50% !important;
}
.is-signedin.course .wrapper-header .info-course {
    width: 50%;
}

.wrapper-header .info-course {
    border: none !important;
}

.tma-nav {
    height: 76px;
    display: flex;
    align-items: center;
    float: right;
}

.tma-nav > li {
    min-width: 160px;
    margin: 0.5rem 1rem 0.5rem 1rem !important;
}

.tma-nav > li > a {
    font-size: 14px !important;
    color: #666;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.tma-nav > li > a:hover {
    color: #0075b4;
}

/* Dropdown microsites */
.dropdown-container {
    width: 200px;
    text-align: left;
}
.dropdown-container > a {
    padding-left: 10px;
}
.dropdown-container > a, .dropdown > li > a {
    font-size: 14px !important;
    color: #666;
    cursor: pointer;
}
.dropdown-container > a > img {
    width: 20px;
    margin-left: 5px;
    vertical-align: middle;
}

.dropdown {
    width: 200px;
    display: none;
    position: absolute;
    padding: 5px 10px 5px 0px;
    list-style: none;
    text-align: left;
    background-color: white;
}
.dropdown > li {
    padding: 5px 10px 5px 10px;
}
.btn-site {
    color: #666;
}
.btn-site:hover {
    color: #0075b4;
}
