<%page expression_filter="h"/>
<%inherit file="main.html" />
<%def name="online_help_token()"><% return "learnerdashboard" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
import markupsafe
import pytz
import re
from datetime import datetime, timedelta
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.template import RequestContext
from entitlements.models import CourseEntitlement
from third_party_auth import pipeline
from util.date_utils import strftime_localized
from opaque_keys.edx.keys import CourseKey
from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text
from student.models import CourseEnrollment
from lms.djangoapps.courseware.courses import (
  get_course_overview_with_access,
  get_course
)
from lms.djangoapps.tma_apps.vodeclic.vodeclic import get_vodeclic_href
from lms.djangoapps.tma_apps.models import TmaCourseOverview
%>

<%
  cert_name_short = settings.CERT_NAME_SHORT
  cert_name_long = settings.CERT_NAME_LONG
%>


<%block name="pagetitle">${_("Home Page")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
  <script src="${static.url('js/commerce/credit.js')}"></script>
  <%static:js group='dashboard'/>
  <script type="text/javascript">
    $(document).ready(function() {
      edx.dashboard.legacy.init({
        dashboard: "${reverse('dashboard') | n, js_escaped_string}",
        signInUser: "${reverse('signin_user') | n, js_escaped_string}",
        changeEmailSettings: "${reverse('change_email_settings') | n, js_escaped_string}"
      });
    });
  </script>
  <%static:webpack entry="UnenrollmentFactory">
    UnenrollmentFactory({
      urls: {
        dashboard: "${reverse('dashboard') | n, js_escaped_string}",
        signInUser: "${reverse('signin_user') | n, js_escaped_string}",
        changeEmailSettings: "${reverse('change_email_settings') | n, js_escaped_string}",
        browseCourses: "${marketing_link('COURSES') | n, js_escaped_string}"
      },
      isEdx: false
    });
  </%static:webpack>
  <%static:webpack entry="EntitlementUnenrollmentFactory">
    ## Wait until the document is fully loaded before initializing the EntitlementUnenrollmentView
    ## to ensure events are setup correctly.
    $(document).ready(function() {
      EntitlementUnenrollmentFactory({
        dashboardPath: "${reverse('dashboard') | n, js_escaped_string}",
        signInPath: "${reverse('signin_user') | n, js_escaped_string}",
        browseCourses: "${marketing_link('COURSES') | n, js_escaped_string}",
        isEdx: false
      });
    });
  </%static:webpack>
  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <%static:require_module module_name="course_search/js/dashboard_search_factory" class_name="DashboardSearchFactory">
        DashboardSearchFactory();
    </%static:require_module>
  % endif
  % if redirect_message:
    <%static:require_module module_name="js/views/message_banner" class_name="MessageBannerView">
        var banner = new MessageBannerView({urgency: 'low', type: 'warning'});
        $('#content').prepend(banner.$el);
        banner.showMessage(${redirect_message | n, dump_js_escaped_json})
    </%static:require_module>
  % endif
</%block>

<!-- TMA enable BOOTSTRAP-->
<link rel="stylesheet" type="text/css" href="${static.url('css/bootstrap/lms-main.css')}">
<script type="text/javascript" src="${static.url('common/js/vendor/bootstrap.bundle.js')}"></script>
<!-- TMA GLOBAL STYLE -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
<link rel="stylesheet" href="${static.url('tma-static/css/global-tma-custom.css')}">
<link rel="stylesheet" href="${static.url('tma-static/css/dashboard-tma-custom.css')}">
<link rel="stylesheet" href="${static.url('tma-static/css/catalog-course-card.css')}">

<div class="dashboard-notifications" tabindex="-1">

    %if banner_account_activation_message:
        <div class="dashboard-banner">
            ${banner_account_activation_message | n, decode.utf8}
        </div>
    %endif

    %if enrollment_message:
        <div class="dashboard-banner">
            ${enrollment_message | n,  decode.utf8}
        </div>
    %endif

    %if enterprise_message:
        <div class="dashboard-banner">
            ${ enterprise_message | n, decode.utf8 }
        </div>
    %endif

    %if account_activation_messages:
      <div class="activation-message-container">
        % for account_activation_message in account_activation_messages:
          <div class="account-activation ${account_activation_message.tags}" role="alert" aria-label="Account Activation Message" tabindex="-1">
            <div class="message-copy" >
              ${ account_activation_message | n, decode.utf8 }
            </div>
          </div>
        % endfor
      </div>
    %endif
</div>

<style>
#localisation-warning{
  padding:20px;
  text-align: center;
}
#localisation-warning button{
  border-radius:50px;
  color:#003655;
  border:2px solid;
  text-transform: uppercase
}
</style>

%if wrong_zone:
<div id="localisation-warning">
  <h3>${_('The website you are currently logged in does not match your geographical area.')}</h3>
  <p>${_('Please click on the link below to be redirected to your local website :')}</p>
  <a href="https://${user_zone}.${settings.LMS_BASE}">
    <button>
      ${user_zone}
    </button>
  </a>
</div>
%endif

<%
  n_courses = 0
  try:
    footer_info = configuration_helpers.get_values('footer_information')
    n_courses = footer_info["courses_counter"]
  except:
    n_courses = courses_counter
%>

<div class="container-fluid bg-grey-light">
  <!--PRESENTATION ROW-->
  <div class="row bg-white">
      <form method="get" action="/courses" class="gif-box">
        <p class="title-36">${_("Find your course")} <br>${_("among")}
          <span class="numscroller" data-min='1' data-max='${n_courses}' data-delay='5' data-increment='${n_courses}/3'>${n_courses}</span>
           ${_("available")}
        </p>
        <div class="search-field-wrapper">
          <button type="submit" class="search-button btn" title="${_('Search')}">
            <img src="${static.url('tma-static/images/loupe.svg')}" style="width:30px">
          </button>
          <input name="search_query" id="dashboard-search-input" type="text" class="search-input" placeholder='${_("What do you want to learn?")}'/>
          <!--<button type="button" class="cancel-button" title="${_('Clear search')}">
            <span class="icon fa fa-remove" aria-hidden="true"></span>
          </button>-->
        </div>
      </form>
      <div class="header-box col-lg-6">
      </div>
      <video autoplay="true" class="embed-responsive-item" height="420" loop muted>
        <source src="${static.url('tma-static/video/hp_femme_comp.mp4')}" type="video/mp4">
      </video>
  </div>
  <div class="row">
    <!--Black & White img-->
    %if static_double_top and static_double_top[0]:
    <div class="zoomEffect col-lg-3 text-center static-top" style="background-image:url('${static_double_top[0]['image']}')">
      <a id="7speaking" class="ext-links" target='${"_blank" if static_double_top[0]["target_blank"] else "" }'>
        ${static_double_top[0]['text'] | n}
      </a>
    </div>
    %endif
    %if static_double_top and static_double_top[1]:
    <div class="zoomEffect col-lg-3 text-center static-top" style="background-image:url('${static_double_top[1]['image']}')">
      <a 
        href="${static_double_top[1]['link']}" 
        class="ext-links" 
        target='${"_blank" if static_double_top[1]["target_blank"] else "" }'
        > ${static_double_top[1]['text'] | n}</a>
    </div>
    %endif
    %if static_double_top and static_double_top[2]:
      <div class="zoomEffect col-lg-3 text-center static-top" style="background-image:url('${static_double_top[2]['image']}')">
          <a href="${static_double_top[2]['link']}" class="ext-links" target='${"_blank" if static_double_top[2]["target_blank"] else "" }'>${static_double_top[2]['text'] | n}</a>
      </div>
    %endif
    <!--User dark blue box-->
    <div class="col-lg-3 bg-blue-dark user-box text-white">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
              <p class="text-blue-light">${_("Last course")}</p>
              % if last_enrollment:
                %if "Vodeclic" in str(last_enrollment.course_id).split('+')[2]:
                  <p class="last-course-title" onclick="window.open('${get_vodeclic_href(request.user,last_enrollment.course_id)}','_blank');">${last_enrollment.course_overview.display_name_with_default}<img class="m-1 ml-3" src="${static.url('tma-static/images/fleche-dr-blanc.svg')}"></p>
                %elif "APOC+APOC" in str(last_enrollment.course_id):
                  <form name="apocform" target="_blank" action="https://apoc.themoocagency.com/autologreg" method="POST" style="display:none">
                    <input type='text' name='PID' value='${user.profile.rpid}' />
                    <input type='text' name='firstname' value='${user.first_name}' />
                    <input type='text' name='lastname' value='${user.last_name}' />
                    <input type='text' name='email' value='${user.email}' />
                    <input type='text' name='entity_id' value='amundi' />
                    <button>Submit</button>
                  </form>
                  <p class="last-course-title" onclick="document.querySelector('form[name=&quot;apocform&quot;]').submit();">${last_enrollment.course_overview.display_name_with_default}<img class="m-1 ml-3" src="${static.url('tma-static/images/fleche-dr-blanc.svg')}"></p>
                %else:
                  <p class="last-course-title" onclick="window.location.href = '/courses/${last_enrollment.course_id}/courseware';">${last_enrollment.course_overview.display_name_with_default}<img class="m-1 ml-3" src="${static.url('tma-static/images/fleche-dr-blanc.svg')}"></p>
                %endif
              % else:
                <p>${_("No enrollment yet")}<img class="m-1 ml-3" src="${static.url('tma-static/images/fleche-dr-blanc.svg')}"></p>
              % endif
              <div class="separator"></div>
            </div>
        </div>
      <a id="tma_counter_link" href="/tma_apps/dashboard/home/">
        <div class="row">
          <div class="col-4 text-center white-right-border">
            <p>
              %if mandatory_courses_count <= 2:
               <span class="numscroller tma_course_counters" data-min='1' data-max='${mandatory_courses_count}' data-delay='1' data-increment='${mandatory_courses_count}'>${mandatory_courses_count}</span>
              %else:
                <span class="numscroller tma_course_counters" data-min='1' data-max='${mandatory_courses_count}' data-delay='1' data-increment='${mandatory_courses_count/3}'>${mandatory_courses_count}</span>
              %endif
               <img src="${static.url('tma-static/images/warning.svg')}">
            </p>
            <p class="mt-2 tma_course_counters_label">${_("mandatory course(s)")}</p>
          </div>
          <div class="col-4 text-center white-right-border">
            <p id="fav-counter" class="tma_course_counters">
               <!--<span class="numscroller tma_course_counters" data-min='1' data-max='${favorite_courses_count}' data-count="${favorite_courses_count}" data-delay='1' data-increment='${favorite_courses_count/3}'>${favorite_courses_count}</span>-->
               <span id="favorite-counter-number">${favorite_courses_count}</span>
               <img src="${static.url('tma-static/images/etoile.svg')}"/>
            </p>
            <p class="mt-2 tma_course_counters_label">${_("favorite course(s)")}</p>
          </div>
          <div class="col-4 text-center">
            <p>
              <span id="ongoin-counter-number" class="tma_course_counters" class="numscroller" data-min='1' data-max='${ongoing_courses_count}' data-delay='1' data-increment='${ongoing_courses_count/3}'>${ongoing_courses_count}</span>
              <img src="${static.url('tma-static/images/drapeau.svg')}"/>
            </p>
            <p class="mt-2 tma_course_counters_label">${_("ongoing course(s)")}</p>
          </div>
        </div>
      </a>
      </div>
    </div>
  </div>

  <!--COURSES DISPLAY-->
  <div id="cards-box" class="container-fluid">
    <!--Title and filter-->
    <div class="row mt-3 mb-3">
      <div class="col-lg-10 title-col">
        <h1>${_("Our Selection")}</h1>
      </div>
      <div class="col-lg-2 pl-0">
        <div class="dropdown-container">
          <button>${_("Filter")}<img src="${static.url('tma-static/images/flechebas.svg')}"></button>
          <ul class="dropdown">
            <li value="1"><a href="/dashboard">${_("On the front page")}</a><div class="separator"></div></li>
            <li value="2"><a href="/dashboard/?filter=likes">${_("Highest rated")}</a><div class="separator"></div></li>
            <li value="3"><a href="/dashboard/?filter=enrollments">${_("Most subscribed")}</a></li>
          </ul>
        </div>
      </div>
    </div>


    <!--Course cards--------------------------------------------------------------------------------------->

    <!-- First row -->
    <div class="row">
      <!-- First two courses -->
      % if final_course_list :
        %for course in final_course_list[0:2] :
          <%include file='tma_apps/catalog_course_card.html' args='course=course' />
        %endfor
      %endif
      <!-- First static double card -->
      % if static_card:
        <div class="col-lg-6">
            <a href="${static_card['link']}" target="_blank">
              <div class="static-div">
                  <img src="${static_card['image']}" alt="">
              </div>
            </a>
        </div>
      % else:
        <div class="col-lg-6">
            <a href="https://www.moncompteactivite.gouv.fr/cpa-public/mes-droits-formation/mon-cpf-compte-personnel-de-formation/decouvrir-le-cpf" target="_blank">
              <div class="static-card"></div>
            </a>
        </div>
      % endif
    </div>

    <!-- Second row -->
    <div class="row">
      <!-- Second two courses -->
      % if final_course_list :
        %for course in final_course_list[2:4] :
          <%include file='tma_apps/catalog_course_card.html' args='course=course' />
        %endfor
      <!-- Second static double card -->
        % if double_card:
          <%include file='tma_apps/double_course_card.html' args='course=double_card' />
        % elif final_course_list[4]:
          <%include file='tma_apps/double_course_card.html' args='course=final_course_list[4]' />
        %endif
      %endif
    </div>

    <!-- Third Row -->
    <div class="row">
      % if final_course_list :
        % if double_card:
          %for course in final_course_list[4:9] :
            <%include file='tma_apps/catalog_course_card.html' args='course=course' />
          %endfor
        % else:
          %for course in final_course_list[5:9] :
            <%include file='tma_apps/catalog_course_card.html' args='course=course' />
          %endfor
        % endif
      %endif
    </div>

    <!--CATEGORIES-->
    <div class="container-fluid bg-grey-light">
      <div class="row mb-5">
          <div class="col text-center more-btn">
            <a href="/courses"><img src="${static.url('tma-static/images/+.svg')}"></a>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col mb-4">
            <h1>${_("Categories")}</h1>
          </div>
      </div>
      <div class="row categories">
        <div class="zoomEffect col-lg-4 text-center cat-1"><a href="/courses?filter=Office">${_("Office Tools")}</a></div>
        <div class="zoomEffect col-lg-4 text-center cat-2"><a href="/courses?filter=Fundamentals">${_("Fundamentals")}</a></div>
        <div class="zoomEffect col-lg-4 text-center cat-3">
          <a href="/courses?filter=Business">${_("Business Applications")}</a>
        </div>
        <div class="zoomEffect col-lg-4 text-center cat-4">
          <a href="/courses?filter=Communication">${_("Communication")}</a>
        </div>
        <div class="zoomEffect col-lg-4 text-center cat-5">
          <a href="/courses?onboarding=newstarter">${_("Onboarding")}</a>
        </div>
        <div class="zoomEffect col-lg-4 text-center cat-6">
          <a href="/courses?filter=Management">${_("Management")}</a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- TMA DASHBORD SCRIPT-->
<script>
  let etoile_src = "${static.url('tma-static/images/etoile.svg')}"
  let counter = ${favorite_courses_count}
  const ssData = ${dump_js_escaped_json(sspeaking_data) | n, decode.utf8};

  const postSspeaking = function(ssData) {
    var form = document.createElement("form");
    form.setAttribute("method", "POST");
    form.setAttribute("action", ssData.sspeaking_url);
    form.setAttribute("target", "_blank");
    for (var key in ssData.sspeaking_data) {
      if (ssData.sspeaking_data.hasOwnProperty(key)) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", ssData.sspeaking_data[key]);

        form.appendChild(hiddenField);
      }
    }
    document.body.appendChild(form);
    form.submit();
  };

  $('#7speaking').click(function() {
    postSspeaking(ssData);
  });


</script>
<script src="${static.url('tma-static/js/dashboard-tma-actions.js')}" charset="utf-8"></script>
<script src="${static.url('tma-static/js/likes-and-favorite.js')}" charset="utf-8"></script>
