<%page expression_filter="h"/>
<%inherit file="main.html" />
<%def name="online_help_token()"><% return "learnerdashboard" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
import pytz
from datetime import datetime, timedelta
from django.urls import reverse
from django.utils.translation import ugettext as _
from django.template import RequestContext
from entitlements.models import CourseEntitlement
from third_party_auth import pipeline
from util.date_utils import strftime_localized
from opaque_keys.edx.keys import CourseKey
from openedx.core.djangoapps.content.course_overviews.models import CourseOverview
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangolib.js_utils import dump_js_escaped_json, js_escaped_string
from openedx.core.djangolib.markup import HTML, Text
from student.models import CourseEnrollment
from lms.djangoapps.courseware.courses import (
  get_course_overview_with_access,
  get_course
)

%>

<%
  cert_name_short = settings.CERT_NAME_SHORT
  cert_name_long = settings.CERT_NAME_LONG
%>


<%block name="pagetitle">${_("Dashboard")}</%block>
<%block name="bodyclass">view-dashboard is-authenticated</%block>

<%block name="header_extras">
% for template_name in ["donation"]:
<script type="text/template" id="${template_name}-tpl">
  <%static:include path="dashboard/${template_name}.underscore" />
</script>
% endfor
</%block>

<%block name="js_extra">
  <script src="${static.url('js/commerce/credit.js')}"></script>
  <%static:js group='dashboard'/>
  <script type="text/javascript">
    $(document).ready(function() {
      edx.dashboard.legacy.init({
        dashboard: "${reverse('dashboard') | n, js_escaped_string}",
        signInUser: "${reverse('signin_user') | n, js_escaped_string}",
        changeEmailSettings: "${reverse('change_email_settings') | n, js_escaped_string}"
      });
    });
  </script>
  <%static:webpack entry="UnenrollmentFactory">
    UnenrollmentFactory({
      urls: {
        dashboard: "${reverse('dashboard') | n, js_escaped_string}",
        signInUser: "${reverse('signin_user') | n, js_escaped_string}",
        changeEmailSettings: "${reverse('change_email_settings') | n, js_escaped_string}",
        browseCourses: "${marketing_link('COURSES') | n, js_escaped_string}"
      },
      isEdx: false
    });
  </%static:webpack>
  <%static:webpack entry="EntitlementUnenrollmentFactory">
    ## Wait until the document is fully loaded before initializing the EntitlementUnenrollmentView
    ## to ensure events are setup correctly.
    $(document).ready(function() {
      EntitlementUnenrollmentFactory({
        dashboardPath: "${reverse('dashboard') | n, js_escaped_string}",
        signInPath: "${reverse('signin_user') | n, js_escaped_string}",
        browseCourses: "${marketing_link('COURSES') | n, js_escaped_string}",
        isEdx: false
      });
    });
  </%static:webpack>
  % if settings.FEATURES.get('ENABLE_DASHBOARD_SEARCH'):
    <%static:require_module module_name="course_search/js/dashboard_search_factory" class_name="DashboardSearchFactory">
        DashboardSearchFactory();
    </%static:require_module>
  % endif
  % if redirect_message:
    <%static:require_module module_name="js/views/message_banner" class_name="MessageBannerView">
        var banner = new MessageBannerView({urgency: 'low', type: 'warning'});
        $('#content').prepend(banner.$el);
        banner.showMessage(${redirect_message | n, dump_js_escaped_json})
    </%static:require_module>
  % endif
</%block>

<!-- TMA enable BOOTSTRAP-->
<link rel="stylesheet" type="text/css" href="${static.url('css/bootstrap/lms-main.css')}">
<script type="text/javascript" src="${static.url('common/js/vendor/bootstrap.bundle.js')}"></script>
<!-- TMA GLOBAL STYLE -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
<link rel="stylesheet" href="${static.url('tma-static/css/global-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/global-tma-custom.css">-->
<link rel="stylesheet" href="${static.url('tma-static/css/dashboard-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/dashboard-tma-custom.css">-->

<div class="dashboard-notifications" tabindex="-1">

    %if banner_account_activation_message:
        <div class="dashboard-banner">
            ${banner_account_activation_message | n, decode.utf8}
        </div>
    %endif

    %if enrollment_message:
        <div class="dashboard-banner">
            ${enrollment_message | n,  decode.utf8}
        </div>
    %endif

    %if enterprise_message:
        <div class="dashboard-banner">
            ${ enterprise_message | n, decode.utf8 }
        </div>
    %endif

    %if account_activation_messages:
      <div class="activation-message-container">
        % for account_activation_message in account_activation_messages:
          <div class="account-activation ${account_activation_message.tags}" role="alert" aria-label="Account Activation Message" tabindex="-1">
            <div class="message-copy" >
              ${ account_activation_message | n, decode.utf8 }
            </div>
          </div>
        % endfor
      </div>
    %endif

</div>

<div class="container-fluid bg-grey-light">
  <!--PRESENTATION ROW-->
  <div class="row bg-white">
      <form method="get" action="/courses" class="gif-box">
        <p class="title-36">Find your course <br>among 130 available</p>
        <div class="search-field-wrapper">
          <button type="submit" class="search-button btn" title="${_('Search')}">
            <img src="${static.url('tma-static/images/loupe.svg')}" style="width:30px">
          </button>
          <input name="search_query" id="dashboard-search-input" type="text" class="search-input" placeholder="What do you want to learn?"/>
          <!--<button type="button" class="cancel-button" title="${_('Clear search')}">
            <span class="icon fa fa-remove" aria-hidden="true"></span>
          </button>-->
        </div>
      </form>
      <video autoplay="true" class="embed-responsive-item" height="420" loop muted>
        <source src="${static.url('tma-static/video/hp_femme_comp.mp4')}" type="video/mp4">
      </video>
    <!--Black & White img-->
    <div class="col-lg-3 text-center img-bw-1">
      <a href="#" target="_blank">Language skills</a>
    </div>
    <div class="col-lg-3 text-center img-bw-2">
        <a href="#">Regulatory (eCampus)</a>
    </div>
    <div class="col-lg-3 text-center img-bw-3">
        <a href="#">US regulatory courses</a>
    </div>
    <!--User dark blue box-->
    <div class="col-lg-3 bg-blue-dark user-box text-white">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-3">
              <p class="text-blue-light">Last courses</p>
              <p>${course_overviews}<img class="m-1 ml-3" src="${static.url('tma-static/images/fleche-dr-blanc.svg')}"></p>
              <hr>
            </div>
        </div>
        <div class="row">
          <div class="col-4 text-center">
            <p>${mandatory_courses}<img src="${static.url('tma-static/images/warning.svg')}"></p>
            <p class="mt-2">mandatory course(s)</p>
          </div>
          <div class="col-4 text-center">
            <p>10<img src="${static.url('tma-static/images/etoile.svg')}"></p>
            <p class="mt-2">favorite course(s)</p>
          </div>
          <div class="col-4 text-center">
            <p>${ongoing_courses}<img src="${static.url('tma-static/images/drapeau.svg')}"></p>
            <p class="mt-2">ongoing course(s)</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--COURSES DISPLAY-->
  <div class="container-fluid">
    <!--Title and filter-->
    <div class="row mt-3">
      <div class="col-lg-9 mb-4">
        <h1>Our Selection</h1>
      </div>
      <div class="col-lg-3">
        <div class="dropdown-container">
          <button>Filter<img src="${static.url('tma-static/images/flechebas.svg')}"></button>
          <ul class="bg-grey-light dropdown">
            <li value="1"><a href="">The front page</a></li>
            <li value="2"><a href="">Highest rated</a></li>
            <li value="3"><a href="">Most subscribed</a></li>
          </ul>
        </div>
      </div>
    </div>
    <!--Course cards-->
    <div class="row">
      % for course in course_overviews:
        <% course_object = get_course(course.id) %>
        % if course_overviews.index(course) == 2:
          <div class="col-lg-6">
            <div class="static-card"></div>
          </div>
        % endif
        % if course_overviews.index(course) == 4:
          <div class="col-lg-6">
          <div class="course-card-sm">
            <div class="cover-image">
                <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}"/>
            </div>
            <div class="row">
              <div class="col-6 course-name">
                <div class="container-fluid">
                  <div class="container-fluid">
                      <div class="row">
                        <div class="col course-name">
                          <div class="row pin-row">
                            <div>
                              <div class="category-tag">Bureautique</div>
                            </div>
                            <div>
                              <img src="${static.url('tma-static/images/cadenas.svg')}" class="pin">
                            </div>
                            <div>
                              <img src="${static.url('tma-static/images/epingle_on.svg')}" class="pin">
                            </div>
                          </div>
                          <div class="row">
                            <p>${course.display_name}</p>
                          </div>
                          <div class="align-items-end h-100">
                            <div class="row course-pictos">
                              <div class="col-4 text-center pl-2 pr-2">
                                <a href="#"><img src="${static.url('tma-static/images/Like.png')}"></a>
                                <span>10</span>
                              </div>
                              <div class="col-4 text-center pl-2 pr-2">
                                  <img src="${static.url('tma-static/images/Time.png')}">
                                  <span>22h</span>
                              </div>
                              <div class="col-4 text-center pl-2 pr-2">
                                  % if course_object.language == "fr":
                                    <img src="${static.url('tma-static/images/lang_fr.svg')}">
                                  % else:
                                    <img src="${static.url('tma-static/images/lang_en.svg')}">
                                  % endif
                                  <span>${course_object.language}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-6 course-resume">
                <div class="container-fluid">
                  <div class="row mb-3">
                    <div class="col">
                      <p class="text-card-lg">${course.short_description}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col text-center">
                        <a href="#" class="enroll-btn">I enroll</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        %else:
          <div class="col-lg-3 col-md-6 flip-container">
            <div class="flipper">
                <!--flip front content-->
                <div class="course-card-sm front">
                  <div class="cover-image">
                      <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}"/>
                  </div>
                  <!-- Pins & title block -->
                  <div class="container-fluid">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col course-name">
                          <div class="row pin-row">
                            <div>
                              <div class="category-tag">Bureautique</div>
                            </div>
                            <div>
                              <img src="${static.url('tma-static/images/cadenas.svg')}" class="pin">
                            </div>
                            <div>
                              <img src="${static.url('tma-static/images/epingle_on.svg')}" class="pin">
                            </div>
                          </div>
                          <div class="row">
                            <p>${course.display_name}</p>
                          </div>
                          <!-- Arrow block -->
                          <div class="0">
                            <div class="row course-pictos">
                              <div class="col-4 text-center pl-2 pr-2">
                                <a href="#"><img src="${static.url('tma-static/images/Like.png')}"></a>
                                <span>10</span>
                              </div>
                              <div class="col-4 text-center pl-2 pr-2">
                                  <img src="${static.url('tma-static/images/Time.png')}">
                                  <span>22h</span>
                              </div>
                              <div class="col-4 text-center pl-2 pr-2">
                                  % if course_object.language == "fr":
                                    <img src="${static.url('tma-static/images/lang_fr.svg')}">
                                  % else:
                                    <img src="${static.url('tma-static/images/lang_en.svg')}">
                                  % endif
                                  <span>${course_object.language}</span>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col text-center">
                                <a href="#"><img src="${static.url('tma-static/images/flechebas.png')}"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                  </div>
                <!--flip back content-->
                <div class="course-card-sm back">
                  <div class="cover-image">
                    <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}"/>
                  </div>
                  <div class="container-fluid">
                      <div class="container-fluid">
                    <div class="row">
                        <div class="row pin-row">
                          <div>
                            <div class="category-tag">Bureautique</div>
                          </div>
                          <div>
                            <img src="${static.url('tma-static/images/cadenas.svg')}" class="pin">
                          </div>
                          <div>
                            <img src="${static.url('tma-static/images/epingle_on.svg')}" class="pin">
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <h3>${course.display_name}</h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p>${course.short_description}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col text-center">
                          <a href="#" class="enroll-btn">I enroll</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        %endif
      %endfor
    </div>
    <!--CATEGORIES-->
    <div class="container-fluid bg-grey-light">
      <div class="row mb-5">
          <div class="col text-center more-btn">
            <a href="#"><img src="${static.url('tma-static/images/+.svg')}"></a>
          </div>
      </div>
      <div class="row mt-3">
          <div class="col">
            <h1>Categories</h1>
          </div>
      </div>
      <div class="row categories">
        <div class="col-lg-4 text-center cat-1"><a href="#">Software</a></div>
        <div class="col-lg-4 text-center cat-2"><a href="#">Business basics</a></div>
        <div class="col-lg-4 text-center cat-3">
          <a href="#">Business applications</a>
        </div>
        <div class="col-lg-4 text-center cat-4">
          <a href="#">Marketing and communication</a>
        </div>
        <div class="col-lg-4 text-center cat-5">
          <a href="#">Compliance</a>
        </div>
        <div class="col-lg-4 text-center cat-6">
          <a href="#">Management</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Flip cards effect
  $(document).ready(function() {
    $('.flip-container').hover(function(){
      $(this).toggleClass("applyflip");
    });
  // Dropdown filter behavior
    $('.dropdown-container > button').click(function(){
      $('.dropdown').toggleClass("is-down");
    });
  });
 console.log('${course_enrollments[0].__dict__}')
</script>
