## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from branding.api import get_footer
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
%>
<% footer = get_footer(is_secure=is_secure) %>
<%namespace name='static' file='static_content.html'/>

<!-- TMA GLOBAL STYLE -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
<link rel="stylesheet" href="${static.url('tma-static/css/footer-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/footer-tma-custom.css">-->
<link rel="stylesheet" href="${static.url('tma-static/css/global-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/global-tma-custom.css">-->

<script src="${static.url('tma-static/js/numscroller.js')}"></script>

<div class="container-fluid footer">
  <div class="row footer-stats">
    <div class="col-lg-3">
      <div class="stat-box">
        <p class="text-center numscroller" data-min='1' data-max='3660' data-delay='5' data-increment='10'>3660</p>
        <p class="text-center">Users</p>
      </div>
      </div>
    <div class="col-lg-3">
      <div class="stat-box">
        <p class="text-center numscroller" data-min='1' data-max='130' data-delay='5' data-increment='10'>130</p>
        <p class="text-center">Courses</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="stat-box">
        <p class="text-center numscroller" data-min='1' data-max='750' data-delay='5' data-increment='10'>750</p>
        <p class="text-center">Likes</p>
      </div>
    </div>
    <div class="col-lg-3">
      <div>
        <p class="text-center numscroller" data-min='1' data-max='384' data-delay='5' data-increment='10'>384</p>
        <p class="text-center">Training hours</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4">
      <img class="brand-logo-size" src="${static.url('tma-static/images/logo_phileas_white.svg')}"/>
      <img class="brand-logo-size" src="${static.url('tma-static/images/logo_amundi_white.svg')}"/>
    </div>
    <div class="col-lg-4"></div>
    <div class=col-lg-4>
      <a href="#">Contact</a>
      <a href="#">Mentions légales</a>
    </div>
  </div>
</div>
