## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

  from openedx.core.djangolib.js_utils import js_escaped_string
%>
<%namespace name='static' file='static_content.html'/>

<!-- TMA GLOBAL STYLE -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
<link rel="stylesheet" href="${static.url('tma-static/css/footer-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/footer-tma-custom.css">-->
<link rel="stylesheet" href="${static.url('tma-static/css/global-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/global-tma-custom.css">-->

% if request.path == '/dashboard':
  <script src="${static.url('tma-static/js/numscroller.js')}"></script>
% endif

<div class="container-fluid footer">
  <div class="row footer-stats">
    <div class="col-lg-3">
      <div class="text-center">
        <div class="stat-box">
          <span id="users_counter" class="numscroller" data-min='1' data-max='0' data-delay='10' data-increment='0'>0</span>
          <span>${_("Users")}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="text-center">
        <div class="stat-box">
          <span id="courses_counter" class="numscroller" data-min='1' data-max='0' data-delay='10' data-increment='0'>0</span>
          <span>${_("Courses")}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="text-center">
        <div class="stat-box">
          <span id="likes_counter" class="numscroller" data-min='1' data-max='0' data-delay='10' data-increment='0'>0</span>
          <span>${_("Likes")}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="text-center">
        <div class="stat-box">
          <span id="hours_counter" class="numscroller" data-min='1' data-max='0' data-delay='10' data-increment='0'>0</span>
          <span>${_("Training hours")}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer-links justify-content-between">
    <div class="col-lg-4 logo-part">
      <img class="brand-logo-size" src="${static.url('tma-static/images/logo-phileas-white-2.png')}"/>
      <img class="brand-logo-size" src="${static.url('tma-static/images/logo_amundi_white.svg')}"/>
    </div>
    <div class="col-lg-4 links-part">
        <a href="/tma_apps/faq">${_("FAQ")}</a>
      <a href="mailto:phileas-training@amundi.com?subject=PHILEAS">${_("Contact")}</a>
      <a href="/tma_apps/legal">${_("Legal Notice")}</a>
    </div>
  </div>
</div>
<script>
  const incrementNumber = function(number){
    if (number < 10) {
        return 5;
    } else {
        if (number > 10 && number < 999) {
            return 10;
        } else {
            if (number > 999) {
                return 5;
            };
        };
    };
  };

  const updateCounters = function(type, counter) {
    if (!isNaN(counter)) {
      $("#"+type+"_counter").html(counter);
      $("#"+type+"_counter").attr('data-max', counter);
      $("#"+type+"_counter").attr('data-increment', counter/3);
      $("#"+type+"_counter").attr('data-delay', incrementNumber(counter));
    };
  };

  $(document).ready(function() {
    let footerValues = {}
    let site = '${request.META["HTTP_HOST"] | n,js_escaped_string}';
    let org = site.split('.')[0];

    $.getJSON( "/media/footer.json", function(data){
      footerValues = data
      switch (org) {
        case 'europe':
          updateCounters('users', footerValues.europe.users);
          updateCounters('courses', footerValues.europe.courses);
          updateCounters('likes', footerValues.europe.likes);
          updateCounters('hours', footerValues.europe.hours);
          break;
        case 'americas':
          updateCounters('users', footerValues.americas.users);
          updateCounters('courses', footerValues.americas.courses);
          updateCounters('likes', footerValues.americas.likes);
          updateCounters('hours', footerValues.americas.hours);
          break;
        case 'asia':
          updateCounters('users', footerValues.asia.users);
          updateCounters('courses', footerValues.asia.courses);
          updateCounters('likes', footerValues.asia.likes);
          updateCounters('hours', footerValues.asia.hours);
          break;
        default:
          updateCounters('users', footerValues.users);
          updateCounters('courses', footerValues.courses);
          updateCounters('likes', footerValues.likes);
          updateCounters('hours', footerValues.hours);
      };
    });
  });
</script>
