## mako
<%page expression_filter="h"/>
<%!
  from django.urls import reverse
  from django.utils.translation import ugettext as _
  from openedx.core.djangoapps.lang_pref.api import footer_language_selector_is_enabled
  from student.views.dashboard import get_tma_footer_info
  from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers

  footer_counters = {}
  footer_counters = get_tma_footer_info()
%>
<%namespace name='static' file='static_content.html'/>

<!-- TMA GLOBAL STYLE -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
<link rel="stylesheet" href="${static.url('tma-static/css/footer-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/footer-tma-custom.css">-->
<link rel="stylesheet" href="${static.url('tma-static/css/global-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/global-tma-custom.css">-->

% if request.path == '/dashboard':
  <script src="${static.url('tma-static/js/numscroller.js')}"></script>
% endif

<div class="container-fluid footer">
  <div class="row footer-stats">
    <div class="col-lg-3">
      <div class="stat-box">
        <div>
          % if footer_counters.get("users_counter"):
            <span id="users_counter" class="text-center numscroller" data-min='1' data-max='${footer_counters["users_counter"]}' data-delay='5' data-increment='${footer_counters["users_counter"]}/3'>${footer_counters["users_counter"]}</span>
          % endif
          <span class="text-center">${_("Users")}</span>
        </div>
      </div>
      </div>
    <div class="col-lg-3">
      <div class="stat-box">
        <div>
          % if footer_counters.get("courses_counter"):
            <span id="courses_counter" class="text-center numscroller" data-min='1' data-max='${footer_counters["courses_counter"]}' data-delay='5' data-increment='${footer_counters["courses_counter"]}/3'>${footer_counters["courses_counter"]}</span>
          % endif
            <span class="text-center">${_("Courses")}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="stat-box">
        <div>
          % if footer_counters.get("likes_counter"):
            <span id="likes_counter" class="text-center numscroller" data-min='1' data-max='${footer_counters["likes_counter"]}' data-delay='5' data-increment='${footer_counters["likes_counter"]}/3'>${footer_counters["likes_counter"]}</span>
          % endif
          <span class="text-center">${_("Likes")}</span>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="stat-box">
        <div>
          % if footer_counters.get("hours_counter"):
            <span id="hours_counter" class="text-center numscroller" data-min='1' data-max='${footer_counters["hours_counter"]}' data-delay='5' data-increment='${footer_counters["hours_counter"]}/3'>${footer_counters["hours_counter"]}</span>
          % else:
            <span id="hours_counter" class="text-center numscroller" data-min='1' data-max='${footer_counters["courses_counter"]*2.5}' data-delay='5' data-increment='${footer_counters["courses_counter"]*2.5}/3'>${footer_counters["courses_counter"]*2.5}</span>
          % endif
          <span class="text-center">${_("Training hours")}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row footer-links">
    <div class="col-lg-4">
      <img class="brand-logo-size" src="${static.url('tma-static/images/logo_phileas_white.svg')}"/>
      <img class="brand-logo-size" src="${static.url('tma-static/images/logo_amundi_white.svg')}"/>
    </div>
    <div class="col-lg-4"></div>
    <div class=col-lg-4>
      <a href="mailto:phileas-training@amundi.com?subject=PHILEAS">${_("Contact")}</a>
      <a href="/tma_apps/legal">${_("Legal Notice")}</a>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  $("#users_counter").html(users_counter);
  $("#users_counter").attr('data-max',users_counter);
  $("#users_counter").attr('data-increment',users_counter/3);
  $("#courses_counter").html(courses_counter);
  $("#courses_counter").attr('data-max',courses_counter);
  $("#courses_counter").attr('data-increment',courses_counter/3);
  $("#likes_counter").html(likes_counter);
  $("#likes_counter").attr('data-max',likes_counter);
  $("#likes_counter").attr('data-increment',likes_counter/3);
  $("#hours_counter").html(hours_counter);
  $("#hours_counter").attr('data-max',hours_counter);
  $("#hours_counter").attr('data-increment',hours_counter/3);
});
</script>
