<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<!-- TMA GLOBAL STYLE -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
<link rel="stylesheet" href="${static.url('tma-static/css/index-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/index-tma-custom.css">-->
<link rel="stylesheet" href="${static.url('tma-static/css/global-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/global-tma-custom.css">-->

<main id="main" aria-label="Content" tabindex="-1">
  <div class="container-fluid bg-grey-light">
    <!--PRESENTATION ROW-->
    <div class="row bg-white">
      <div class="col-lg-6 bg-blue-light header-box">
        <p class="title-36">Develop your skills and explore new horizons</p>
        <a href="/login" class="login-btn">Login</a>
      </div>
      <div class="col-lg-6 video-box">
        <video data-video-id="5805748443001" data-account="3428187083001" data-player="VNKG7oRLQw" data-embed="default" data-application-id autoplay="true" height="360" loop muted>
        </video>
      </div>
    </div>
    <div class="row middle-box bg-grey-light">
      <div class="col-lg-3 text-center">
        <div class="w-100 pl-80">
          <img class="picto" src="${static.url('tma-static/images/rythme.svg')}">
          <h3 class="md-blue-title">Adapté à votre rythme</h3>
          <p class="sm-grey-txt">Accédez depuis n'importe quel device à vos formations là où vous les avez interrompues</p>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="w-100">
          <img class="picto" src="${static.url('tma-static/images/contenu.svg')}">
          <h3 class="md-blue-title">Des contenus variés</h3>
          <p class="sm-grey-txt">Cherchez le module qui correspond à vos besoins et lancez-vous dès à présent !</p>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="w-100">
          <img class="picto" src="${static.url('tma-static/images/apprentissage.svg')}">
          <h3 class="md-blue-title">Auto apprentissage</h3>
          <p class="sm-grey-txt">Soyez autonome dans l'acquisition de vos nouvelles compétences</p>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="w-100 pr-85">
          <img class="picto" src="${static.url('tma-static/images/competences.svg')}">
          <h3 class="md-blue-title">Orienté compétences</h3>
          <p class="sm-grey-txt">Maintenez vos compétences à jour et développez de nouveaux savoirs</p>
        </div>
      </div>
    </div>
    <div class="row bg-white">
      <div class="col bottom-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 text-right">
              <img src="${static.url('tma-static/images/trophee.png')}">
            </div>
            <div class="col-lg-8">
              <h3 class="md-blue-title">Innover et entreprendre ensemble</h3>
              <p class="text-black font-italic">Lauréat de l’Innovation Cup 2015, Phileas est né de convictions communes
                des équipes RH et IT autour du partage des connaissances et de la formation.</p>
              <p class="text-black">Phileas, c’est « Project HR, IT, Learn And Share ». Développé avec énergie, cœur et
                conviction, il démontre qu’il y a toujours une place pour les idées et les projets d’ouverture quand un
                collectif est engagé.</p>
              <p class="sm-blue-txt">Corinne Fleury, Guénola Morand, Florane Eono, Philippe Blayo, Jérémy Delom et
                Thierry Moulès.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif

<!--Video player Phileas-->
<script src="//players.brightcove.net/3428187083001/VNKG7oRLQw_default/index.min.js"></script>
