<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<!-- TMA GLOBAL STYLE -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,500" rel="stylesheet">
<link rel="stylesheet" href="${static.url('tma-static/css/index-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/index-tma-custom.css">-->
<link rel="stylesheet" href="${static.url('tma-static/css/global-tma-custom.css')}">
<!--<link rel="stylesheet" href="/media/dev/tma-static/css/global-tma-custom.css">-->

<main id="main" aria-label="Content" tabindex="-1">
  <div class="container-fluid bg-grey-light">
    <!--PRESENTATION ROW-->
    <div class="row blue-wave">
      <div class="col-lg-6 header-box">
        <p class="title-36">${_("Develop your skills and explore new horizons")}</p>
        <a href="/auth/login/amundi/?auth_entry=login&next=%2Fdashboard" class="login-btn">${_("Login")}</a>
      </div>
      <div class="col-lg-6 video-box">
        <video data-video-id="5805748443001" data-account="3428187083001" data-player="VNKG7oRLQw" data-embed="default" data-application-id autoplay="true" height="360" loop muted>
        </video>
      </div>
    </div>
    <div class="row middle-box bg-grey-light">
      <div class="col-lg-3 text-center">
        <div class="w-100">
          <img class="picto" src="${static.url('tma-static/images/rythme.svg')}">
          <h3 class="md-blue-title">${_("At your own pace")}</h3>
          <p class="sm-grey-txt">${_("Access your training from any device and from where you left off.")}</p>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="w-100">
          <img class="picto" src="${static.url('tma-static/images/contenu.svg')}">
          <h3 class="md-blue-title">${_("Variety of content")}</h3>
          <p class="sm-grey-txt">${_("Look for the module that fits your needs and get started now!")}</p>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="w-100">
          <img class="picto" src="${static.url('tma-static/images/apprentissage.svg')}">
          <h3 class="md-blue-title">${_("Self learning")}</h3>
          <p class="sm-grey-txt">${_("Be autonomous in acquiring your new skills")}</p>
        </div>
      </div>
      <div class="col-lg-3 text-center">
        <div class="w-100">
          <img class="picto" src="${static.url('tma-static/images/competences.svg')}">
          <h3 class="md-blue-title">${_("Skills oriented")}</h3>
          <p class="sm-grey-txt">${_("Keep your skills up to date and develop new knowledge")}</p>
        </div>
      </div>
    </div>
    <div class="row bg-white">
      <div class="col bottom-box">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 text-right">
              <img src="${static.url('tma-static/images/trophee.png')}">
            </div>
            <div class="col-lg-8">
              <h3 class="md-blue-title">${_("Innovate and undertake together")}</h3>
              <p class="text-black font-italic">${_("Winner of the Innovation Cup 2015, Phileas is born of common convictions HR and IT teams around sharing knowledge and training.")}</p>
              <p class="text-black">${_("Phileas stands for Project HR, IT, Learn And Share. Developed with energy, heart and conviction, it demonstrates that there is always a place for ideas and projects of openness when a collective is engaged.")}</p>
              <p class="sm-blue-txt">Corinne Fleury, Guénola Morand, Florane Eono, Philippe Blayo, Jérémy Delom ${_("and")} Thierry Moulès.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif

<!--Video player Phileas-->
<script src="//players.brightcove.net/3428187083001/VNKG7oRLQw_default/index.min.js"></script>
