/***** FIRST ROW *****/
a, a:hover {
    text-decoration: none !important;
    color: inherit !important;
    transition: none !important;
}

#cards-box {
    position: relative;
    z-index: 1;
}

.course-img {
    overflow: hidden;
    z-index: -2;
}

.h-375 {
    height: 375px;
}

.pl-75 {
    padding-left: 75px;
}
.pr-75 {
    padding-right: 75px;
}
.pl-85 {
    padding-left: 85px;
}

.tag {
    display: inline-block;
    width: 150px;
    height: 40px;
    background-color: #F3D7FD;
    color: #A600E0;
    font-weight: bold;
    border-radius: 50px;
    text-align: center;
    line-height: 37px;
}

.like-off.white {
    background-image: url('/static/tma-static/images/like-off-white.svg');
    background-size: cover;
}

.count-box {
    display: inline-block !important;
}

.decroche-bg {
    overflow: hidden;
    background-image: url(/static/tma-static/images/decroche-courseabout.png);
    background-size: contain;
    background-repeat: no-repeat;
}

@media (max-width: 992px) {
    .course-img {
        display: none;
    }
    .h-350 {
        height: auto;
        padding-bottom: 20px;
    }
    .decroche-bg {
        overflow: hidden;
        background-color: #00a1e9;
    }
    .decroche-bg > .pl-85 {
        padding-right: 75px;
    }
}

@media (min-width: 992px) {
    .teacher-box > .col-lg-2 {
        max-width: 12.66667% !important;
    }
}

/***** SECOND ROW *****/
.teacher-box {
    position: relative;
    width: 90%;
    height: auto;
    margin: auto;
    top: -50px;
    box-shadow: 1px 2px 12px 2px rgba(0,0,0,0.09);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 15px 0px 0px;
}
.teacher-box p {
    margin: 0px;
}
.teacher-box div:not(.teacher-img) img {
    margin-bottom: 10px;
}
.teacher-box .big-btn {
    top: 25px;
}

.teacher-img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: 5px solid #009EE0;
    overflow: hidden;
}

.name-box p:first-of-type {
    font-size: 20px;
}
.name-box p:last-of-type {
    font-size: 18px;
}
.name-box > p:first-of-type {
    color: #777777;
    margin-bottom: 0px;
}
.name-box > p:last-of-type {
    font-weight: bold;
    color: black;
    margin-top: 0px;
}
#course-duration {
    height: 24px;
}
.border-left-grey {
    border-left: solid 1px #CACACA;
}

a.big-btn {
    position: relative;
    cursor:pointer;
    margin: auto !important;
    width: 200px;
    padding: 14px;
    border-radius: 28px;
    background-color: #0B1A4C;
    color: white !important;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
a.big-btn-back {
    position: relative;
    cursor:pointer;
    margin: auto !important;
    width: 200px;
    padding: 14px;
    border-radius: 28px;
    border: 2px solid #0B1A4C;
    background-color: white;
    color: #0B1A4C !important;
    font-weight: bold;
    display: inline-block;
    text-align: center;
}
a.big-btn:hover {
    background-color: white;
    color: #0B1A4C !important;
    border: 2px solid #0B1A4C;
    text-decoration: none !important;
    transition: none !important;
}
a.big-btn-back:hover {
    background-color: #0B1A4C;
    color: white !important;
    text-decoration: none !important;
    transition: none !important;
}

@media (max-width: 1120px) {
    .teacher-box {
        position: initial;
        top: 0px;
        width: 100%;
        height: auto;
    }
    .name-box > p {
        font-size: 16px;
    }
    .teacher-box div:not(.name-box) p {
        font-size: 12px;
    }
}

/***** THIRD ROW *****/
.description-box {
    width: 90%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}
.description-box > div > h3, .content-box > div > div > h3, .downloads-box > h3 {
    font-size: 24px;
    color: black;
    font-size: 24px;
    line-height: 29px;
}
.description-box > div > p {
   line-height: 38px;
}

.favorite {
    cursor: pointer;
}
.mail {
    border-right: 1px solid #CACACA;
}

/***** FOURTH ROW *****/
.content-box {
    width: 90%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 150px;
}
.content-box .big-btn-back {
    bottom: 0;
    position: absolute;
    right: 0;
}

#course-map > li, .subsections > li {
    color: #0C1C49;
    list-style-type: none;
    padding: 10px;
    border-bottom: 1px solid #7A818E;
}
#course-map > li {
    font-weight: 600;
}
.subsections {
    margin: 0.5em 0 0.5rem 0rem;
}
.subsections > li {
    list-style-image: url('/static/tma-static/images/bullet.svg');
    border-bottom: none;
    font-weight: 400;
    padding-bottom: 3px;
    padding-top: 3px;
}

img[src="/static/tma-static/images/flechebas.svg"] {
    float: right;
}
.rotate180 {
    transform: rotate(0.5turn);
}

.downloads-box {
    padding: 40px;
    box-shadow: 0 2px 12px 0 rgba(153,153,153,0.50);
}
.downloads-box > p {
    color: #011443;
    line-height: 38px;
}

.download-link {
    color: #0B1A4C !important;
    text-decoration: none;
}
.download-link:hover {
    color: rgba(0,0,0,.5) !important;
    text-decoration: none !important;
}

@media (max-width: 992px) {
    .downloads-box {
        width: 100%;
        box-shadow: none;
    }
}
