#expand-collapse-outline-all-button{
  display: none;
}

.course-wrapper .course-content .xblock a {
  color: #0C1C49 !important;
  text-decoration: underline;
}
/*FONT*/
h1,h2,h3,h4,h5,h6,p, div.vertical-title{
  font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    color:#0C1C49!important;
}

/* COMPLETION NAV STYLE */
#tma-completion-nav{
  background-color: rgba(255, 255, 255, 0.95);
  border: none;
  left: 0;
  max-width: 40%;
  padding: 20px;
  position: fixed;
  z-index: 10;
  transition: left 2s;
  top: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  /* max-height: 550px; */
  height: 100vh;
}
.tma-visibility-hidden{
  visibility: hidden;
}
#tma-completion-nav.folded{
  left: -1000px;
}
#tma-completion-nav button{
  background:none;
  border: none;
  box-shadow: none;
}
#tma-completion-nav .vertical-title{
  font-weight: 300;
  padding-left: 10px;
}
#tma-completion-nav span.fa.fa-chevron-right:not(.fa-rotate-90){
  transform: rotate(90deg);
}
span.fa.fa-chevron-right.fa-rotate-90{
  transform: rotate(-90deg);
}
#tma-completion-nav span.fa.fa-chevron-right{
  color:#0C1C49;
  margin-right:2px;
}
#tma-completion-nav .accordion-trigger{
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
}
#tma-completion-nav .details{
  display: none;
}
#tma-completion-nav .outline-item .outline-item.focusable{
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding: 2px 0px 2px 0px;
  width: 100%;
}
#tma-completion-nav .vertical-title:before, #tma-completion-nav .subsection-title:before {
    content: "";
    height: 10px;
    width: 10px;
    border:1px solid #009EE0;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}
#tma-completion-nav .subsection-title.tma_completed:before{
  background-color: #9EE000;
  border:1px solid #9EE000;
}
#tma-completion-nav .vertical-title.tma_completed:before, #tma-completion-nav .subsection-title.tma_started:before {
    background-color: #009EE0;
}
#tma-completion-nav .subsection-completed .vertical-title.tma_completed:before {
  background-color: #9EE000;
  border:1px solid #9EE000;
}
#tma-completion-nav h1,h2,h3,h4,h5,h6,p, div.vertical-title{
  font-size: 1rem;
}
#tma-completion-nav button.section-name{
  display: none;
}
#tma-completion-nav{
  /*display: none;*/
}
#tma-completion-nav .course-outline .block-tree .section ol.outline-item .subsection .vertical a.outline-item, .course-outline .block-tree .section ol.outline-item .subsection, .course-outline .block-tree .section{
  border: none;
}
.course-outline .block-tree .section ol.outline-item .subsection{
  margin: 0 0 0 -25px;
}
.course-outline .block-tree .section ol.outline-item .subsection .subsection-title{
  margin-right: 15px;
}

/*Zone Header */
#tma_course_header{
  padding: 20px;
  background-size: cover;
  background-position: center;
  padding-bottom: 0px;
}
#tma_course_header h1{
  padding:0px 0px 10px 60px;
  font-weight: 500;
}
.container{
  padding-top: 25px;
}
.award{
  max-height: 35px;
}
.tma-grade{
  align-items: baseline;
  font-size: 1.3rem;
  text-align: center;
}
#tma-completion-value-wrapper{
  position: relative;
  top: -20px;
  text-align: center;
}
.tma-grade span{
  padding-left: 10px;
}
.tma-progress-bar{
    font-family: 'Montserrat', sans-serif;
    padding: 10px 0px 10px 0px;
}
.first-part-grade{
  padding-right: 10px;
  margin: 0;
}
.second-part-grade{
  padding-left: 10px;
  margin: 0px;
}



/* Zone Cours */
.page-header{

  display: none;
}
body.view-in-course .course-wrapper{
  border: none;
}
.xmodule_display.xmodule_SequenceModule .sequence-nav{
  display: none;
}
.course-content .bookmark-button-wrapper{
  display: none;
}
body.view-in-course .wrapper-course-material{
  display: none;
}
.course-content{
  width:100%!important;
}
.open-courseware-nav, .open-courseware-nav:hover{
  display: inline-block;
  background-image: none!important;
  border: none!important;
  background-color: transparent!important;
  font-family: 'Montserrat', sans-serif!important;
  color:#0C1C49!important;
  font-size: 1.3rem;
  padding-left: 20px;
}
.tma-coursenav-btn{
  padding-top: 15px;
  min-height: 44px;
  position: relative;
  /*top: 46px;*/
  z-index: 10;
  background-color: transparent!important;
  box-shadow: none!important;
  display: inline!important;
  position: sticky;
}
.close-courseware-nav .fa-times, .tma-coursenav-btn .fa-plus{
  padding: 4px;
  color: #0C1C49;
  font-size: 15px;
  cursor: pointer;
}
.tma-coursenav-btn .fa-plus
{
  border: 2px solid #0C1C49;
  border-radius: 50%;
  padding: 6px 8px;
  margin-left: 10px;
}
.open-courseware-nav{
  cursor: pointer;
  position: relative;
  top: 51px;
  background-color: white!important;
}
.tma-coursenav-btn{
  display: inline;
  border: none!important;
  position: sticky;
}
.sequence-bottom{
  display: flex!important;
  justify-content: space-between!important;
  z-index: 0;
}


/*Scroll */
/* width */
#tma-completion-nav::-webkit-scrollbar {
  width: 20px;
}

/* Track */
#tma-completion-nav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0px transparent;
  border-radius: 10px;
}

/* Handle */
#tma-completion-nav::-webkit-scrollbar-thumb {
  background: #0C1C49;
  border-radius: 10px;
  width:5px;
}

/* Handle on hover */
#tma-completion-nav::-webkit-scrollbar-thumb:hover {
  background: transparent;
}

/* Bottom navigation */
nav.sequence-bottom{
  max-width: 1080px;
}
nav.sequence-bottom .sequence-nav-button{
  border: 2px solid #0C1C49!important;
  border-radius: 28px!important;
  color: #0C1C49;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
nav.sequence-bottom .sequence-nav-button:hover, .phileas-button:hover{
  background-color: #0C1C49!important;
  color: white!important;
}
nav.sequence-bottom .sequence-nav-button:hover .icon{
  color:white!important;
}

/*Modale Bravo Echec */
.modal-graded-success, .modal-graded-fail, .modal-not-graded-success {
  display: none;
}
#tma_course_end_popup{
  width: 100%;
  left: 0;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
}

#tma_course_end_popup .modal-footer,#tma_course_end_popup .modal-header{
  border: none;
}

#tma_course_end_popup.modal {
  text-align: center;
}
@media screen and (min-width: 768px) {
  #tma_course_end_popup.modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
#tma_course_end_popup .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-footer button, .modal-footer button:hover, .modal-footer button:focus{
  border-radius: 28px;
  border:2px solid #0C1C49;
  color: #0C1C49!important;
  font-family: 'Montserrat', sans-serif!important;
  font-weight: 400;
}
.modal-footer a{
  margin: 0 auto;
}

#tma_course_end_popup .modal-content{
  padding-bottom: 50px;
}

#tma-completion-nav h4{
  font-size: 16px;
  font-weight: 500;
}
#tma-completion-nav .outline-item{
  margin-left: 9px!important;
  color: #00A1E9 !important;
}

.tma-current-unit{
  background-color: white!important;
}
.subsection.accordion{
  border-bottom: 1px solid #7A818E!important;
}

.course-wrapper .course-content .xblock{
  padding-left: 10px;
}
.course-wrapper .course-content .xblock h3{
  padding-top: 20px!important;
}

/* Course content styles */
.course-wrapper .course-content .xblock ul{
  list-style: none!important;
}

.course-wrapper .course-content .xblock ol {
  list-style: none!important;
  counter-reset: li!important
}
