/* OVERWRITE EDX STYLES */
input[type="text"],input[type="text"]:focus {
    height: 50px;
    border: none;
    border-radius: 0px;
    text-shadow: none;
    box-shadow: none;
    padding: none;
    background-color: transparent;
    background: none;
    caret-color: black ;
    color: black ;
    font-style: normal;
}
input::placeholder {
    color: black;
    opacity: 0.5;
    font-style: normal;
}
a:not(.filter-selected), a:not(.filter-selected):hover, a:not(.filter-selected):visited {
    text-decoration: none !important;
    color: #0C1C49 !important;
}

.search-title {
    font-size: 36px !important;
    margin-bottom: 0px !important;
}

/* SEARCH FILTERS */
/*
.criteria-box h4, .criteria-box h3 {
    color: #0C1C49;
}
*/

.criteria-box {
    min-height: 700px;
    background-color: #E6EDFA;
}

.criteria-box form {
    width: 95%;
    margin: auto;
    border-bottom: 1px solid black;
}

.criteria-box button {
    width: auto;
    height: 50px;
    border: none
}

.separator {
    height: 1px;
    width: 100%;
    margin: 1rem 0rem 2rem 0rem;
    background-color: rgba(151, 151, 151, 0.2);
}

.header-facet {
    margin-left: -15px;
}

.facet-option, .header-facet {
    font-size: 14px;
}
.facet-option, .org, .new, .all {
    cursor: pointer;
    margin-bottom: 0px;
}

.facet {
    margin-bottom: 10px;
    margin-top: 10px;
}

.count {
    position: absolute;
    text-align: center;
    width: 25px !important;
    height: 25px;
    font-size: 12px;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
    text-align: center;
}

.bubble {
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 5px;
    border-radius: 50px;
}

/******DROPDOWN****************/
/* Filter */
.dropdown-container {
    position: absolute;
    top: -10px;
    right: 0;
}

.dropdown {
    display: none;
    padding: 0px;
    margin-top: -2px;
    border: 2px solid #b9c6d4;
    background-color: white;
    position: absolute;
    z-index: 2;
    width: 200px;
}

@media (max-width: 992px) {
  .dropdown-container {
    position: relative;
    width: 100%;
  }
}

.dropdown-container > button {
    width: 200px;
    margin: auto;
    padding: 20px 5px 20px 5px;
    border: 2px solid #b9c6d4;
    border-radius: 0px;
    color: #0c1c49;
    text-transform: none;
    line-height: normal;
    font-size: 14px;
}
.dropdown-container > button > img {
    width: 20px;
    margin-left: 10px;
}
.dropdown > li {
    list-style-type: none;
    text-decoration: none;
    padding: 15px 5px 15px 5px;
    text-align: center;
}
.dropdown > li > a {
    color: #0c1c49 !important;
    font-size: 14px;
}
.dropdown > li > a:hover, .dropdown-container > button:hover, .dropdown > li > a:focus {
    color: #b9c6d4 !important;
    text-decoration: none;
}
.dropdown > li:nth-of-type(2) {
    border-top: none;
    border-bottom: none;
}
.is-down {
    display: block;
}

.dropdown .separator {
  width: 90px;
  height: 2px;
  top: 10px;
  margin: 0px;
  background-color: #b9c6d4;
  position: relative;
  display: inline-block;
}

.filter-selected {
<<<<<<< HEAD
    color: rgb(0, 160, 227) !important;
    text-decoration: none !important;
}
.close-filter {
    display: none;
=======
    color: rgb(0, 160, 227);
}
.close-filter {
>>>>>>> e278f6c934d05be4d72709f3c31a979244d9c198
    font-weight: 500;
    cursor: pointer;
}
/* No Results */
.no-results h3 {
    font-size: 28px !important;
    color: #0B1A4C !important;
}

.discover-btn {
    width: 200px;
    padding: 8px;
    margin: 2rem 1rem 1rem 1rem;
    border-radius: 28px;
    background-color: white;
    color: #0B1A4C !important;
    border: 2px solid #0B1A4C;
    font-weight: bold !important;
    display: inline-block;
    vertical-align: middle;
}