/********* PREVENT EDX STYLES *********/
input[type="text"],input[type="text"]:focus {
    height: 50px;
    width: 365px;
    position: relative;
    left: -45px;
    text-align: center;
    border: none;
    border-bottom: 1px solid white;
    text-shadow: none;
    box-shadow: none;
    padding: none;
    background-color: transparent;
    background: none;
    caret-color: white;
    color: white;
    font-style: normal;
    font: inherit;
}

input::placeholder {
    color: white;
    opacity: 0.5;
    font-style: normal;
}

.search-button {
    padding-left: 0;
}

.search-input {
    background-color: transparent;
    border: 0px
}

.course-image {
    width: 100%;
}

/********* STYLE **********/
/* First row */
.title-36 {
    padding: 0 0 1.2rem 0;
    line-height: normal;
    font-size: 36px;
    color: white;
}

.header-man {
    background-image: url('/static/tma-static/images/illu-man.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.header-woman {
    background-image: url('/static/tma-static/images/illu-woman.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.header-box {
    min-height: 420px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .header-box {
        display: block;
    }
}
@media (max-width: 992px) {
    video {
        display: none !important;
    }
    .header-box {
        display: none;
    }
    .gif-box {
        position: relative;
        width: 100%;
        padding: 50px 0px 50px 50px;
    }
}

.gif-box {
    position: absolute;
    z-index: 1;
    padding-top: 145px;
    padding-left: 85px;
    background-color: #00A0E3;
}

/* Second row */
.ext-links {
    line-height: normal !important;
    font-weight: 500 !important;
}

.img-bw-1, .img-bw-2, .img-bw-3 {
    min-height: 120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.img-bw-1 a, .img-bw-2 a, .img-bw-3 a {
    width: 100%;
    font-size: 18px;
    color: #0B1A4C !important;
}
.img-bw-1 a:hover, .img-bw-2 a:hover, .img-bw-3 a:hover {
    color: #0B1A4C !important;
    text-decoration: none;
}

.img-bw-1 {
    background-image: url('/static/tma-static/images/elearning.jpg');
}

.img-bw-2 {
    background-image: url('/static/tma-static/images/reglementaire.jpg');
}

.img-bw-3 {
    background-image: url('/static/tma-static/images/gettogether.jpg');
}

.user-box {
    height: 308px;
    right: 0;
    position: absolute;
    top: 312px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

@media (min-width: 1440px) {
    .user-box {
        margin-right: calc((100% - 1440px) / 2);
        width: calc((1440px) / 4);
    }
}

@media (max-width: 992px) {
    .user-box {
        right: 0;
        position: inherit;
        top: 0;
    }
    video {
        padding-bottom: 15px;
    }
    .search-input {
        width: auto !important;
        position: initial !important;
    }
}

/* Dark blue box */
.user-box > .container-fluid > #tma_counter_link > .row > .col-4:nth-of-type(2) {
    border-right: 2px solid rgba(128, 128, 128, 0.5);
    border-left: 2px solid rgba(128, 128, 128, 0.5);
}
.user-box > .container-fluid > .row:nth-of-type(1) > .col-12:nth-of-type(1) > p:nth-of-type(2) {
    font-size: 24px;
    line-height: normal;
}
.user-box > .container-fluid > .row:nth-of-type(2) > .col-4 > p:first-of-type {
    font-size: 30px;
    line-height: normal;
}
.user-box > .container-fluid > .row:nth-of-type(2) .col-4 > p  {
    font-size: 12px;
    line-height: normal;
}
.user-box > .container-fluid > .row:nth-of-type(1) {
    margin-bottom: 30px;
}
.user-box img {
    position: absolute;
    margin-top: 3px !important;
    height: 25px;
}
.user-box .separator {
    height: 2px;
    width: auto;
    margin-bottom: 0px;
    background-color: rgba(128, 128, 128, 0.5);
}
.user-box p.last-course-title {
    cursor:pointer;
}

/* Course listing */
@media (min-width: 992px) {
    .container-fluid.bg-grey-light > .container-fluid {
        padding-right: 75px;
        padding-left: 75px;
    }
}

.title-col {
  height: 65px;
  display: flex;
  align-items: center;
}
.title-col > h1 {
  width: 100%;
  margin-left: 215px;
}

/* Filter */
.dropdown {
    display: none;
    padding: 0px;
    margin-top: -2px;
    border: 2px solid #b9c6d4;
    background-color: white;
    position: absolute;
    z-index: 2;
    width: 200px;
}

.dropdown-container {
  position: relative;
}
@media (max-width: 992px) {
  .dropdown-container {
    position: relative;
    width: 100%;
  }
  .title-col > h1 {
    margin-left: 0px;
  }
}

.dropdown-container > button {
    width: 200px;
    margin: auto;
    padding: 20px 5px 20px 5px;
    border: 2px solid #b9c6d4;
    border-radius: 0px;
    color: #0c1c49;
    text-transform: none;
    line-height: normal;
    font-size: 14px;
}
.dropdown-container > button > img {
    width: 20px;
    margin-left: 10px;
}
.dropdown > li {
    list-style-type: none;
    text-decoration: none;
    padding: 15px 5px 15px 5px;
    text-align: center;
}
.dropdown > li > a {
    color: #0c1c49 !important;
    font-size: 14px;
}
.dropdown > li > a:hover, .dropdown-container > button:hover, .dropdown > li > a:focus {
    color: #b9c6d4 !important;
    text-decoration: none;
}
.dropdown > li:nth-of-type(2) {
    border-top: none;
    border-bottom: none;
}
.is-down {
    display: block;
}

.dropdown .separator {
  width: 90px;
  height: 2px;
  top: 10px;
  background-color: #b9c6d4;
  position: relative;
  display: inline-block;
}

/********** COURSE CARDS **********/
.static-card {
    margin-bottom: 30px;
    height: 400px;
    width: 100%;
    background-image: url('/static/tma-static/images/tuile_static.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 10px;
    box-shadow: 1px 5px 12px 0px rgba(0,0,0,0.09);
    overflow: hidden;
}
.static-card {
    margin-bottom: 30px;
    height: 400px;
    width: 100%;
    background-image: url('/static/tma-static/images/tuile_static.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0,0,0,0.09);
    border-radius: 10px;
    box-shadow: 1px 5px 12px 0px rgba(0,0,0,0.09);
    overflow: hidden;
}

/* Categories */
.filter-grey {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
}
.filter-green {
    position: absolute;
    background-color: rgba(50, 150, 150, 0.86)
}
.filter-blue {
    position: absolute;
    background-color: rgba(0, 157, 224, 0.6);
}
.filter-orange {
    position: absolute;
    background-color: rgba(230, 79, 15, 0.51)
}

.more-btn > a > img {
    height: 50px;
    width: 50px;
}

.categories {
    margin-bottom: 10rem;
}

.categories > p {
    border-left: 1px solid #777777;
}

.categories > .col-lg-4 {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    min-height: 190px;
}
.categories > .col-lg-4 > a {
    width: 100%;
    color: #003063 !important;
    font: inherit;
    font-size: 24px;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}
.categories > .col-lg-4 > a:hover {
    color: #003063 !important;
}
.cat-1 {
    background-image: url('/static/tma-static/images/bureautique.png');
}
.cat-2 {
    background-image: url('/static/tma-static/images/fondamentaux.png');
}
.cat-3 {
    background-image: url('/static/tma-static/images/applications.png');
}
.cat-4 {
    background-image: url('/static/tma-static/images/marketing.png');
}
.cat-5 {
    background-image: url('/static/tma-static/images/compliance.png');
}
.cat-6 {
    background-image: url('/static/tma-static/images/management.png');
}

/*zooming effet*/
div.zoomEffect {
    -moz-transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s;
    opacity: 1;
}
div.zoomEffect:hover {
    -moz-transform: scale(1.10);
    -webkit-transform: rotate(5deg) scale(1.10);
    -o-transform: scale(1.10);
    -ms-transform: scale(1.10);
    transform: scale(1.10);
    opacity: 1;
    z-index: 999;
}
