a:hover {
    text-decoration: none !important;
}

/* HOME */
button, .header-nav__link__2xDOlv0N, .mau-history-link__16rPYXnf {
    font-size: 1rem !important;
}

.card-title__1MkYJe3f {
    font-size: 1.3rem !important;
}

.header-title__1FP4H_mf {
    font-size: 2rem !important;
}
.sort-item__1-9QF4um {
    font-size: 1rem !important;
}

.course-id__2IYr4ppE {
    font-size: 1rem !important;
}
.course-name__3YlmKM8V {
    font-size: 1.4rem !important;
}
.value__2ZsNgBCY {
    font-size: 1rem !important;
}
.course-button__2fY5A83u {
    font-size: 1rem !important;
}

/* USER PAGE */
.course-name__uoTNkmW5 {
    font-size: 1.6rem !important;
}