
html, body {
    height: 100%;
}

a:hover, a:visited, a:focus {
    text-decoration: none !important;
}
a {
    color: #0B1A4C !important;
}

/* 1st ROW */
.home-box {
    height: 300px;
    background-color: #f5f5f5;
    background-image: url('/static/tma-static/images/dashboard_fond.jpg');
    background-repeat: no-repeat;
    background-position-x: right;
}
.home-box > .row:nth-child(2) {
    padding-left: 36px;
}

.profile-img {
    width: 70px;
    height: 70px;
    float: right;
    border-radius: 50px;
    background-color: #00A1E9;
    color: white;
    padding-top: 17px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.padding-70 {
    padding-left: 70px;
    padding-right: 70px;
}
.bg-blue-box {
    position: absolute;
    height: 300px;
    width: 100%;
    background-color: #0B1A4C;
}
.bg-grey-box {
    position: absolute;
    top: 300px;
    height: 100%;
    width: 100%;
    background-color: #f5f5f5;
}
.title-36-black {
    font-size: 36px;
    color: black;
    letter-spacing: normal;
    margin-bottom: 15px;
    text-transform: none;
    text-align: left;
    padding-left: 55px;
}
.title-24 {
    font-size: 24px;
    color: #0B1A4C;
    letter-spacing: normal;
    margin-bottom: 15px;
    text-transform: none;
}
.title-28 {
    padding-left: 5px;
    font-size: 28px;
    font-weight: bold;
    color: #0B1A4C;
    letter-spacing: normal;
    margin-bottom: 25px;
    text-transform: none;
    z-index: 2;
}
.title-20 {
    font-size: 20px;
    font-weight: bold;
    color: #0B1A4C;
    letter-spacing: normal;
    line-height: 24px;
    text-transform: none;
}
.grey-text {
    font-size: 14px;
    color: #777777;
    line-height: 24px;
}
.picto {
    width: 24px;
    margin: 10px 0px 10px 10px;
}

.separator {
    position: relative;
    width: 45%;
    height: 1px;
    margin: auto;
    background-color: #D8D8D8;
}
.table-separator {
    position: relative;
    width: 100%;
    height: 2px;
    margin: 10px 0 10px 0;
    background-color: #D8D8D8;
    opacity: 0.5;
}

/* 2d ROW */
.ongoing-box {
    height: auto;
}
.ongoing-box > .row > h1 {
    z-index: 2;
}

.training-card {
    margin-bottom: 30px;
    height: 400px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 5px 12px 0px rgba(0,0,0,0.09);
    overflow: hidden;
}
.training-card p {
    margin-bottom: 0px;
}

.title-course {
    min-height: 79px;
    border-bottom: 1px solid rgba(0,0,0,0.09);
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
    color: #0B1A4C;
}

.unenroll {
    position: absolute;
    cursor: pointer;
    width: 20px;
    z-index: 99;
    top: 8px;
    right: 22px;
}
.popup {
	background: rgba(100, 100, 100, 0.1);
	position: fixed;
	display: none;
	z-index: 5000;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
}
.popup > div {
    border-radius: 10px;
    position: fixed;
    background: #FFFFFF;
    box-shadow: 0px 0px 15px 0px rgba(#000000, 0.3);
    padding: 30px 15px;
    max-width: 400px;
    width: 70%;
    z-index: 5001;
    top: 50%;
    left: 40%;
    text-align: center;
    border: 2px solid #0B1A4C;
}

.progress, .no-progress {
    height: 20px;
    padding: 0;
    border-radius: 0px;
}
.no-progress {
    background-color: white;
    height: 35px;
    margin-bottom: 20px;
}
.progress-bar {
    background-color: #00A1E9;
}
.progress.not-mandatory-course-enrolment {
    height: 35px;
    margin-bottom: 20px;
}
.mandatory-tag {
    height: 35px;
    background-color:#F8005B;
    color: white;
    font-size: 15px;
    font-weight: bold;
}
.mandatory-tag p {
    top: 8px;
    position: relative;
    margin-bottom: 1rem;
}

.dates-box p, .dates-box span {
    line-height: 18px;
    font-size: 14px;
}
.dates-box p {
    color:#777777;
}
.dates-box span {
    color: #0B1A4C;
    font-weight: 500;
}

.pin-row img {
    width: 30px;
    height: auto;
}
.pin-row p {
    font-size: 14px;
}
.pin-row > .col-4 > p {
    color: #009EE0;
}
.pin-row > .col-8 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
a.continue-btn, a.enroll-btn {
    cursor: pointer;
    width: 150px;
    padding: 6px;
    margin: 1rem;
    border-radius: 28px;
    border: 2px solid #0B1A4C;
    background-color: transparent;
    color: #0B1A4C !important;
    font-weight: 600 !important;
    display: inline-block;
    vertical-align: middle;
}

a.continue-btn:hover, a.enroll-btn:hover {
    background-color: #0B1A4C;
    color: white !important;
    border: 2px solid #0B1A4C;
    text-decoration: none;
}

/* 3d ROW */
.mandatory-box {
    position: relative;
}

/* 4th ROW */
.favorite-box {
    position: relative;
}

/* 5th ROW */
.finished-box {
    padding-bottom: 150px;
    background-color: #f5f5f5;
}
.finished-box .col-lg-2, .finished-box .col-lg-3 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.finished-box .col-lg-3 span {
    color: #0B1A4C;
}
.finished-box a {
    color: #0B1A4C;
}
.finished-box a:hover {
    color: #777777;
    text-decoration: none;
}

.legend p {
    font-size: 14;
    color: black;
    line-height: 24px;
}

.badge-cert {
    height: 50px;
}

.more-btn > a > img {
    height: 50px;
    width: 50px;
}
.more-btn > a {
    cursor: pointer;
}

.like_count{
  position: relative!important;
  bottom: 8px!important;
}

@media (max-width: 992px) {
    .title-36.mb-5 {
        padding-left: 0px;
        text-align: center;
    }
    .profile-img {
        display: none;
    }
    .legend {
        display: none;
    }
}

.close-box {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
}