/* Séparer le contenu du footer car footer overlap */
#main{
  margin-bottom: 60px;
}

/*Fonts*/
*:not(.mce-ico){
  font-family: 'Montserrat', sans-serif!important;
}
*::before:not(.mce-i-image:before),*::after{
  font-family: FontAwesome!important;
}
.fa {
  font: normal normal normal 14px/1 FontAwesome !important;
}

/* Usefull classes */
.margin-null{
  margin:0;
}

.phileas-button{
  border: 2px solid #0C1C49!important;
  border-radius: 28px!important;
  color: #0C1C49;
}
