/* Séparer le contenu du footer car footer overlap */
#main{
  margin-bottom: 60px;
}

/*Fonts*/
*:not(.mce-ico){
  font-family: 'Montserrat', sans-serif!important;
}
*::before:not(.mce-i-image:before),*::after{
  font-family: FontAwesome!important;
}
.fa {
  font: normal normal normal 14px/1 FontAwesome !important;
}

/* Usefull classes */
.margin-null{
  margin:0;
}

/* COLORS */
.main-color {
  color: #0B1A4C;
}
.main-bg-color {
  background-color: #0B1A4C;
}
.secondary-color {
  color: #009CDF;
}
.secondary-bg-color {
  background-color: #009CDF
}

/* BUTTONS */
.tma-button{
  border: 2px solid #0B1A4C!important;
  border-radius: 28px!important;
  color: #0B1A4C !important;
}
.tma-button:hover {
  border: 2px solid #0B1A4C!important;
  background-color: #0B1A4C !important;
  color: white !important;
}

.btn-admin {
  width: 100px;
  border-radius: 28px;
  border: 2px solid #0B1A4C;
  text-align: center;
}
.btn-admin:hover {
  background-color:#0B1A4C;
  color: white !important;
}

a.enroll-btn, a.continue-btn {
  width: 150px;
  padding: 8px;
  margin: 0 1rem 1rem 1rem;
  border-radius: 28px;
  background-color: white;
  color: #0B1A4C !important;
  border: 2px solid #0B1A4C;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}
a.enroll-btn:hover, a.continue-btn:hover {
  background-color: #0B1A4C;
  color: white !important;
  text-decoration: none;
  cursor:pointer;
}