/* PREVENT STYLES FROM EDX */
span {
    font-style: normal;
}

button, button:hover, button:hover:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled){
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
}

.navbar {
    min-height: 78px;
    background-color: white;
    padding: 0px !important;
}

.navbar-nav {
    align-items: center;
    justify-content: center;
}

.nav-item a {
    height: 3rem;
}

.nav-link {
    font-size: 14px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-admin {
    width: 100px;
    border-radius: 28px;
    border: 2px solid #0B1A4C;
    text-align: center;
}
.btn-admin:hover {
    background-color:#0B1A4C;
    color: white !important;
}

.navbar-light .navbar-nav a.nav-link, .navbar-light .navbar-nav a.nav-link:visited, .navbar-light .navbar-nav a.nav-link:focus {
    color: black;
    text-decoration: none;
    transition: all 0.1s linear 0s;
}
.navbar-light .navbar-nav .nav-link:hover:not(.btn-admin) {
    color: #003063 !important;
    text-decoration: none;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        margin: 0.5rem 3rem 0.5rem 3rem !important;
    }
}

.text-blue-light {
    color: #00A0E3;
}
.text-white {
    color: white;
}
.bg-blue-light {
    background-color: #00A0E3;
}
.bg-blue-dark {
    background-color: #0B1A4C;
}
.bg-grey-light {
    background-color: #F5F5F5;
}

.navbar .brand-logo-size {
    height: 100%;
    padding: 0px 0px 0px 70px;
}

.logo {
    width: 155px;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00A0E3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider {
    background-color: #00A0E3;
    box-shadow: 0 0 1px #00A0E3;
}

.fr > .slider:before {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
.en > .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* LANGUAGE SELECT */
#settings-language-value {
    display: none;
}

/* Reconnect Pop-up */
#language-popup {
    width: 100%;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
}
#language-popup .modal-footer > button {
    width: 150px;
    padding: 8px;
    margin: auto;
    border-radius: 28px;
    background-color: white;
    color: #0B1A4C !important;
    border: 2px solid #0B1A4C;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}
#language-popup .modal-footer > button:hover {
    color: white !important;
    background-color: #0B1A4C !important;
    border: 2px solid white;
}

@media only screen and (max-device-width: 480px){
  .navbar{
    padding:10px!important
  }
}
