/* PREVENT STYLES FROM EDX */
span {
    font-style: normal;
}

button, button:hover, button:hover:not(:disabled), button:active:not(:disabled), button:focus:not(:disabled){
    background-image: none;
    background-color: transparent;
    box-shadow: none;
    text-shadow: none;
}

.navbar {
    min-height: 78px;
    background-color: white;
    padding: 0px !important;
}

.nav-item a {
    height: 100%;
}

.nav-link {
    display: flex !important;
    align-items: center;
    flex-wrap: wrap;
}

#fr:hover, #en:hover {
    cursor: pointer;
    color: rgba(0,0,0,.5) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: black !important;
}
.navbar-light .navbar-nav .nav-link:hover:not(.language) {
    color: rgba(0,0,0,.5) !important;
    text-decoration: none;
}

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 3rem !important;
        padding-left: 3rem !important;
    }
}

.text-blue-light {
    color: #00A0E3;
}
.text-white {
    color: white;
}
.bg-blue-light {
    background-color: #00A0E3;
}
.bg-blue-dark {
    background-color: #0B1A4C;
}
.bg-grey-light {
    background-color: #F5F5F5;
}

.navbar .brand-logo-size {
    height: 100%;
    padding-left: 75px;
    margin-top: -13px;
}

/* SWITCH */
.switch {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #00A0E3;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider {
    background-color: #00A0E3;
}

.slider {
    box-shadow: 0 0 1px #00A0E3;
}

.fr > .slider:before {
    -webkit-transform: translateX(-26px);
    -ms-transform: translateX(-26px);
    transform: translateX(-26px);
}
.en > .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* LANGUAGE SELECT */
#settings-language-value {
    display: none;
}