.rotate180 {
    transform: rotate(0.5turn);
}

.sections span.fa.fa-chevron-up {
    float: right;
    cursor: pointer;
}

.chapters > section {
    table-layout: fixed;
}
.profile-wrapper .course-info > .chapters > section .sections {
    display: table-cell;
}
.chapters > section > .hd-3 {
    width: 30% !important;
}
.chapters > section > .sections > .hd-4 {
    display: inline !important;
}