.rotate180 {
    transform: rotate(0.5turn);
}

.sections span.fa.fa-chevron-up {
    float: right;
    cursor: pointer;
}

.chapters > section {
    display: flex !important;
}
.profile-wrapper .course-info > .chapters > section .sections {
    display: flex !important;
    flex-direction: column !important;
    width: 95% !important;
}
.profile-wrapper .course-info>.chapters>section .hd {
    width: none;
}