/* Prevent EdX style */
.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.choicegroup_incorrect, .xmodule_display.xmodule_CapaModule div.problem .choicegroup label:hover {
    border: 2px solid #e4e4e4;
}
.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.choicegroup_incorrect, .xmodule_display.xmodule_CapaModule div.problem .choicegroup label.choicegroup_incorrect:hover {
    border: 2px solid #e4e4e4;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.choicegroup_correct, .xmodule_display.xmodule_CapaModule div.problem .choicegroup label.choicegroup_correct:hover {
    color: white;
    border: 2px solid #6ac259;
    background-color: #6ac259;
}

/* Label icon */
span.status.correct, span.status.incorrect {
    display: none;
}

/* Bottom notification */
.xmodule_display.xmodule_CapaModule div.problem .notification.success {
    display: none;
}
.xmodule_display.xmodule_CapaModule div.problem .notification.error {
    border-top: none;
    font-size: 18px;
    text-align: center;
    color: red;
}
.xmodule_display.xmodule_CapaModule div.problem .notification.error .icon, .xmodule_display.xmodule_CapaModule div.problem .notification.success .icon {
    display: none;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup fieldset .field {
    margin-left: 40px;
}

/* Input custom */ 
.xmodule_display.xmodule_CapaModule div.problem .choicegroup input[type="radio"], .xmodule_display.xmodule_CapaModule div.problem .choicegroup input[type="checkbox"] {
    display: none;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: -42px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}
.checkmark:hover {
    border: 1px solid grey;
}

.checkfail, .checksuccess {
    display: none;
    position: absolute;
    top: 5px;
    left: -42px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: white;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.selected-tma {
    background-color: #00A1E9;
    color: rgb(255, 255, 255);
    border-color: #00A1E9;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.unselected-tma {
    background-color: transparent;
    color: #313131;
    border: 2px solid #e4e4e4;
}

/* TMA feedback */
#tma-feedback-success, #tma-feedback-fail {
    width: 450px;
    padding: 20px;
    margin: auto;
    display: none;
    text-align: center;
    border: 2px solid #e4e4e4;
}

#tma-feedback-success p, #tma-feedback-fail p, #tma-feedback-success span, #tma-feedback-fail span {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}