/* Prevent EdX style */
fieldset {
    border: none;
    padding: 0px;
}

.xmodule_display.xmodule_CapaModule div.problem {
    padding-top: 5px;
}

.xmodule_display.xmodule_CapaModule div.problem .action .problem-action-btn[data-value="Save"], .xmodule_display.xmodule_CapaModule div.problem .action .problem-action-btn.show {
    display: none;
}

/* Submit button */
.xmodule_display.xmodule_CapaModule div.problem .action {
    margin-top: 0px;
}
.xmodule_display.xmodule_CapaModule div.problem .action .submit-attempt-container .submit {
    float: none;
}
.submit-attempt-container {
    text-align: center;
    padding: 0px !important;
}

/* Progress + score */ 
.xmodule_display.xmodule_CapaModule div.problem-progress {
    padding-top: 20px;
}
.course-wrapper .course-content .xblock h3 {
    padding-top: 0px !important;
}
.tma-attempts {
    display: inline-block;
    color: #5e5e5e;
    font-size: 0.875em;
}

/*Question labels */
.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.choicegroup_incorrect, .xmodule_display.xmodule_CapaModule div.problem .choicegroup label:hover {
    border: 2px solid #e4e4e4;
}
.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.choicegroup_incorrect, .xmodule_display.xmodule_CapaModule div.problem .choicegroup label.choicegroup_incorrect:hover {
    border: 2px solid #e4e4e4;
}
.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.choicegroup_correct, .xmodule_display.xmodule_CapaModule div.problem .choicegroup label.choicegroup_correct:hover {
    color: white;
    border: 2px solid #6ac259;
    background-color: #6ac259;
}

/* Label icon */
span.status.correct, span.status.incorrect {
    display: none;
}

/* Bottom notification */
.xmodule_display.xmodule_CapaModule div.problem .notification.success {
    display: none;
}
.xmodule_display.xmodule_CapaModule div.problem .notification.error {
    margin-top: 30px;
    margin-bottom: 20px;
    border-top: none;
    font-size: 18px;
    text-align: center;
    color: red;
}
.xmodule_display.xmodule_CapaModule div.problem .notification.error .icon, .xmodule_display.xmodule_CapaModule div.problem .notification.success .icon {
    display: none;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup fieldset .field {
    margin-left: 40px;
}

/* Input custom */ 
.xmodule_display.xmodule_CapaModule div.problem .choicegroup input[type="radio"], .xmodule_display.xmodule_CapaModule div.problem .choicegroup input[type="checkbox"] {
    display: none;
}

.checkmark {
    position: absolute;
    top: 5px;
    left: -42px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
}

.checkfail, .checksuccess {
    display: none;
    position: absolute;
    top: 5px;
    left: -42px;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    background-color: white;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.selected-tma {
    background-color: #00A1E9;
    color: rgb(255, 255, 255);
    border-color: #00A1E9;
}

.xmodule_display.xmodule_CapaModule div.problem .choicegroup label.unselected-tma {
    background-color: transparent;
    color: #313131;
    border: 2px solid #e4e4e4;
}

/* TMA feedback */
#tma-feedback-success, #tma-feedback-fail {
    width: 450px;
    padding: 20px;
    margin: auto;
    display: none;
    text-align: center;
    border: 2px solid #e4e4e4;
}

#tma-feedback-success p, #tma-feedback-fail p, #tma-feedback-success span, #tma-feedback-fail span {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

/* Dropdown styling */
.xmodule_display.xmodule_CapaModule div.problem select {
    width: calc(100% - 40px);
    height: 50px;
    background-color: white;
}

.show-detailed .detailed-solution {
    display: block !important;
}
solution > .detailed-solution {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    font-size: 20px;
}
.detailed-solution > p:first-of-type {
    text-transform: uppercase;
    font-weight: bold;
    color: #00A1E9;
}
.detailed-solution > p:last-of-type {
    font-weight: bold;
}