.zones-box {
    height: 800px;
    background-color: white;
    border-top: 1px solid #ddd;
}

.world-box {
    height: 350px;
    overflow: hidden;
}
.world-box > img {
    width: 100%;
    margin-top: -150px;
}
.zone-btn {
    width: 200px;
    padding: 10px;
    border-radius: 28px;
    background-color: white;
    color: #0B1A4C !important;
    border: 2px solid #0B1A4C;
    font-weight: bold !important;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    text-transform: uppercase;
    box-shadow: 1px 5px 12px 5px rgba(0,0,0,0.09);
}
.zone-btn:hover {
    background-color: #0B1A4C !important;
    border: 2px solid white !important;
    color: white !important;
    text-decoration: none !important;
}

@media only screen and (max-device-width: 480px){
  #globeCarte{
    display: none
  }
  .zones-box{
    height: auto
  }
  .command-wrap{
    padding-bottom:40px
  }
}
@media (max-width: 1024px) {
  .world-box > img {
    margin-top: -50px;
  }
}
@media (max-width: 768px) {
  .world-box > img {
    margin-top: 0px;
  }
}