## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>
<%!
from django.conf import settings
from django.urls import reverse
from django.utils.translation import ugettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
from openedx.core.djangoapps.lang_pref.api import header_language_selector_is_enabled, released_languages
from student.models import CourseEnrollment
from student.roles import CourseStaffRole, CourseInstructorRole
from opaque_keys.edx.keys import CourseKey
%>

<%
    show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE') and not show_program_listing
    show_sysadmin_dashboard = settings.FEATURES.get('ENABLE_SYSADMIN_DASHBOARD','') and user.is_staff
    self.real_user = getattr(user, 'real_user', user)

    support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
    doc_link = get_online_help_info(online_help_token)['doc_url']

    if online_help_token == "instructor":
        help_link = doc_link
    elif support_link:
        help_link = support_link
    else:
        help_link = doc_link
%>
<%
    # Conditional display of admin button
    is_course_staff = False
    course_enrollments = CourseEnrollment.objects.filter(user=request.user)

    for ce in course_enrollments:
        if any([
            CourseStaffRole(ce.course_id).has_user(request.user),
            CourseInstructorRole(ce.course_id).has_user(request.user)
        ]) :
            is_course_staff = True
            break
%>

<style>
    .dropdown-nav {
        position: relative;
    }
    .dropdown-nav i{
        margin-left: 10px
    }

    #activity-dropdown{
        background-color: white;
        position: absolute;
        bottom:-50px;
        left: 10%;
        width:80%;
        z-index: 1000;
    }
    .dropdown-item{
        margin: 5px auto;
        text-align: center !important;
        font-size: 12px;
       
    }
</style>
<div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
        % if is_course_staff:
            <li class="nav-item">
                <a class="nav-link btn-admin" href="//${settings.CMS_BASE}/tma_apps/quickstart/">${_("Admin")}</a>
            </li>
        % endif
      <li class="nav-item dropdown-nav">
        <a class="nav-link" id="activity-nav" >${_("My activity")}<i class="fas fa-chevron-down"></i></a>
        <ul id="activity-dropdown">
            <li class="dropdown-item">
                <a class="dropdown-link" href="${reverse('home_dashboard_courses')}">${_("Courses")}</a>
            </li>
            <li class="dropdown-item">
                <a class="dropdown-link" href="${reverse('home_dashboard_programs')}">${_("Programs")}</a>
            </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="${reverse('courses')}">${_("Explore")}</a>
      </li>
      % if header_language_selector_is_enabled():
      <% languages = released_languages() %>
      % if len(languages) > 1:
        <form action="/i18n/setlang/" method="post" class="settings-language-form" id="language-settings-form">
            <input type="hidden" id="csrf_token" name="csrfmiddlewaretoken" value="${csrf_token}">
            % if user.is_authenticated:
                <input title="preference api" type="hidden" class="url-endpoint" value="${reverse('preferences_api', kwargs={'username': user.username})}" data-user-is-authenticated="true">
            % else:
                <input title="session update url" type="hidden" class="url-endpoint" value="${reverse('session_language')}" data-user-is-authenticated="false">
            % endif
            <!--BUTTON SWITCH-->
            <a class="nav-link align-middle language">
                <span id="fr">FR</span>
                <label class="switch">
                    <span class="slider round"></span>
                </label>
                <span id="en">EN</span>
            </a>
            <select class="input select language-selector" id="settings-language-value" name="language">
                % for language in languages:
                    % if language[0] == LANGUAGE_CODE:
                        <option value="${language[0]}" selected="selected">${language[1]}</option>
                    % else:
                        <option value="${language[0]}" >${language[1]}</option>
                    % endif
                % endfor
            </select>
            </label>
        </form>
      % endif
    % endif
    </ul>
  </div>
</div>
<!-- TMA MODAL RECONNECT -->
<div id="language-popup" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-cookies">
                <div class="modal-body">
                    <p class="text-center message">Having trouble selecting your language ?<br>Vous avez des difficultés pour changer de langue ?</p>
                    <p class="text-center message">Click to reconnect<br>Cliquez pour vous reconnecter</p>
                    <p class="text-center message">You will leave the current page.<br>Vous allez quitter la page actuelle.</p>
                </div>
                <div class="modal-footer">
                    <button onclick="deleteCookies()" type="button">Reconnect</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    // DROPDOWN ACTIVITY NAV TOGGLE
    const dropdown = $('#activity-dropdown')
    const nav = $('#activity-nav')
    const toggleNav = () => {
        if(dropdown.is(":hidden")){
            dropdown.show()
        } else {
            dropdown.hide()
        }
    }
    nav.click(()=> toggleNav())

    const deleteCookies = function() {
        window.localStorage.setItem('switch-count', 0);
        $.ajax({
            url: '/tma_apps/delete_cookies',
            type: 'POST',
            dataType: 'json',
            success : function(data){
                console.log('success')
                window.location.reload();
            }
        });
    }
    const checkCount = function(){
      if (count >= 3) {
          $('#language-popup').modal('show');
          window.localStorage.setItem('switch-count', 0);
      } else {
          window.localStorage.setItem('switch-count', count)
      }
    }
    $(document).ready(function(){
        dropdown.hide()
        var count;
        // Mandatory closing by clicking so that counter is reset to zero
        /* Beware makes popup appear each time
        $('#language-popup').modal({
            backdrop: 'static',
            keyboard: false
        });
        */
        if (window.localStorage.getItem('switch-count')) {
          count = window.localStorage.getItem('switch-count');
        }
        else {
          count =0
          window.localStorage.setItem('switch-count', count);
        }
        if(count>=3){
          $('#language-popup').modal('show');
          window.localStorage.setItem('switch-count', 0);
          count=0;
        }
        if ($('#settings-language-value > option[value="en"]').attr('selected')) {
            $('.switch').toggleClass('en')
        }
        $('.switch').on('click', function(){
            count = parseInt(count) + 1;
            window.localStorage.setItem('switch-count', count);
            $(this).toggleClass('en fr');
            if ($(this).hasClass('en')) {
                $('#settings-language-value > option[value="en"]').attr('selected','selected');
                $('#settings-language-value > option[value="fr"]').removeAttr('selected').trigger("change");
            } else {
                if ($(this).hasClass('fr')) {
                    $('#settings-language-value > option[value="fr"]').attr('selected','selected');
                    $('#settings-language-value > option[value="en"]').removeAttr('selected').trigger("change");
                }
            }
        });
        $('#language-popup .modal-header > .close').on('click', function(){
            window.localStorage.setItem('switch-count', 0)
        });
    });
</script>
